<h1>{{root.display_name}}</h1>
<svg xmlns="http://www.w3.org/2000/svg" [attr.width]="WIDTH" [attr.height]="HEIGHT" [attr.viewBox]="viewBox"
    class="chart">
    <path d="M10 10" />
    <g *ngFor="let e of chartElementList">

        <path *ngIf="e.connection" [attr.d]="e.connection" [style.stroke]="e.item.color"
            class="connection" />
            <!-- (click)="onClick(e.item)" -->
        <rect class="item"
            [class.selected]="e.item.id===selected.id"
            [style.stroke]="e.item.color"
            [style.fill]="e.item.color"

            [style.fillOpacity]="1 / (e.item.level + 1)"
            [attr.x]="e.x - ELEMENT_WIDTH/2"
            [attr.y]="e.y - ELEMENT_HEIGHT/2"
            [attr.width]="ELEMENT_WIDTH"
            [attr.height]="ELEMENT_HEIGHT"
            rx="6"
            ry="6"


            >
            <!-- (click)="clickHandleNodeLayer(e)" -->
            <!-- mousemove -->
          </rect>
        <text [attr.x]="e.x" [attr.y]="e.y" class="item-text cursor">{{e.item.display_name}}</text>
        <text [attr.x]="e.x - 9" [attr.y]="e.y + 25" class="chk cursor" *ngIf="e.item.event_type"
            (click)="AddEvent(e.item)">&#x2795;</text>
    </g>
</svg>
