<div class="container">



    <div class="row mt-2">
      <div *ngFor="let slot of allslot" [ngClass]="grid ? 'col-6' : 'col-12'">
  
        <div class=" border mt-4 " style="background-color:#F7F6DC">
          <div class="row">
            <div class="col-md-12 ">
              <div class="border-bottom" style="background-color: #ebe3f8;">
                <h3 class="ml-4 pt-2" style="font-weight:bolder ;"> {{slot.slot_name}}</h3>
              </div>
  
            </div>
          </div>
          <div class="row ml-2 mt-3">
            <div class="col-3 auto-width " style="font-size: 12px ;width:100px">
              <mat-form-field [style.width.%]="100">
                <mat-label>Slot Name</mat-label>
                <input matInput autocomplete="off" id="slotname" name="slotname" [(ngModel)]="slot.slot_name">
              </mat-form-field>
            </div>
            <div class="col-md-3 auto-width mr-2 ml-2" style="font-size: 12px;width:100px">
              <mat-form-field [style.width.%]="100">
                <mat-label>Slot Type</mat-label>
                <mat-select matNativeControl id="slottype" name="slottype" [(ngModel)]="slot.slot_type">
                  <mat-option [value]="slot.slot_type">
                    {{slot.slot_type}}</mat-option>
                </mat-select>
              </mat-form-field>
  
            </div>
            <div class="col-md-3 auto-width mr-2 ml-2" [hidden]="!slot.function" style="font-size: 12px;width:100px">
              <mat-form-field [style.width.%]="100">
                <mat-label>function</mat-label>
                <input matInput autocomplete="off" id="function" name="function" [(ngModel)]="slot.function">
              </mat-form-field>
  
            </div>
            <div class="col-md-3 auto-width mr-2 ml-2" style="font-size: 12px;width:100px">
              <mat-form-field [style.width.%]="100">
                <mat-label>Value</mat-label>
                <input matInput autocomplete="off" id="value" name="value" [(ngModel)]="slot.value">
              </mat-form-field>
  
            </div>
            <div class="col-md-3 auto-width mr-2 ml-2 mb-3" style="font-size: 12px;width:100px">
              <button mat-mini-fab color="accent" class="action-button" aria-label="add">
                <mat-icon (click)="addnew(slot)">add</mat-icon>
              </button>
  
            </div>
          </div>
  
  
  
        </div>
      </div>
    </div>
  
  </div>
  
  <button (click)="onclickSlot()">Save</button>