section{
    overflow-y: auto;
}
mat-form-field{
    width: 400px;
}
mat-card-title{
    text-align: center;
}
// manoj @import url('../../../../../../assets/scss/core/main-panel.scss');
.spacer {
    height: 20px; /* Adjust the height to control the spacing between fields */
  }