<div class="sidebar">
  <div class="menu">
    <a class="menu-item" (click)="GettingValue('Candidate journey')"
      ><span class="icon">🧭</span>Candidate journey</a
    >
    <a class="menu-item" (click)="GettingValue('Candidate Details')"
      ><span class="icon">👤</span>Candidate Details</a
    >
    <a class="menu-item" (click)="GettingValue('Experience')"
      ><span class="icon">📄</span>Experience</a
    >
    <a class="menu-item" (click)="GettingValue('Resume / CV')"
      ><span class="icon">📄</span>Resume / CV</a
    >
    <a class="menu-item" (click)="GettingValue('Documents')"
      ><span class="icon">📁</span>Documents</a
    >
    <a class="menu-item" (click)="GettingValue('Discussion')"
      ><span class="icon">💬</span>Discussion</a
    >
    <a class="menu-item" (click)="GettingValue('Scorecard')"
      ><span class="icon">🏅</span>Scorecard</a
    >
    <a class="menu-item" (click)="GettingValue('Team Scorecards')"
      ><span class="icon">👥</span>Team Scorecards</a
    >
    <a class="menu-item" (click)="GettingValue('Email / SMS')"
      ><span class="icon">✉️</span>Email / SMS</a
    >
    <a class="menu-item" (click)="GettingValue('Meetings')"
      ><span class="icon">📅</span>Meetings</a
    >
    <a class="menu-item" (click)="GettingValue('Assessments')"
      ><span class="icon">📊</span>Assessments</a
    >
  </div>
</div>
