@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf2f7;
  }
  
  .container {
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #333;
  }
  
  .btn-save {
    padding: 10px 15px;
    background-color: #4c51bf;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    margin-top: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    /* width: calc(50% - 50px); */
    width: 250px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 0.875rem;
    color: #4a5568;
  }
  
  .form-group select,
  .form-group input {
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 0.875rem;
  }
  
  .form-group select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  
  .form-group select:focus,
  .form-group input:focus {
    outline: none;
    border-color: #805ad5;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    .form-row {
      flex-direction: column;
    }
  
    .form-group {
      width: 100%;
    }
  
    .form-group:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .bg_color{
    background-color: white;
  }

  /* Additional styles, add these to the existing CSS */

.section-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
    height: 30px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
  }
  
  .section {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    /* margin-top: -20px; */
  }
  
  .back-button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 15px;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    background-color: #f8f9fa; /* Light gray background */
    padding: 10px 20px; /* Spacing around the text */
  }
  
  .indicator-icon {
    color: #34a853; /* Green color for the icon */
    margin-right: 12px; /* Space between the icon and the title */
    font-size: 1.2rem; /* Icon size */
  }
  
  .section-title {
    font-size: 1rem;
    color: #202124; /* Dark gray color for the text */
    margin: 0;
  }


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px 20px;
  }
  
  .back-arrow {
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
    margin-right: 10px;
  }
  
  .title {
    flex-grow: 1;
    color: #000000;
    font-size: 1.5em;
  }
  
  .btn {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .outlined {
    background-color: transparent;
    border: 2px solid #4c51bf;
    color: #4c51bf;
    height: 35px;
    display: flex;
    align-items: center;
  }
  
  .filled {
    background-color: #4c51bf;
    color: white;
  }
  :host ::ng-deep .mat-mdc-text-field-wrapper {
    width: 100%;
    margin-right: 340px;
    margin-top: 16px;
    height: 46px;
    border-bottom: none;
  }
  :host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
   background-color: white;
  }