<div class="container">
  <div class="section" *ngFor="let round of roundsData; let i = index">
    <!-- One on one -->
    <div *ngIf="round.interview_type === 'One on one'">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <input placeholder="{{ round.interview_type }}" readonly />
        </div>
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <input placeholder="{{round.campaign_type}}" />
          <!-- <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="driveBot">Campaign 1</option>
            <option value="driveBot">Campaign 2</option>
            <option value="driveBot">Campaign 3</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <input placeholder="{{round.campaign_varient}}" readonly />
          <!-- <select
            [(ngModel)]="round.campaignVarient"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="Varient1">Varient 1</option>
            <option value="Varient2">Varient 2</option>
            <option value="Varient3">Varient 3</option>
          </select> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <input placeholder="{{round.campaign_segment}}" readonly/>
          <!-- <select [(ngModel)]="round.campaignSegment" id="campaign" class="bg_color" name="campaign">
            <option value="" disabled selected>Select Segment</option>
            <option value="Segment1">Segment 1</option>
            <option value="Segment2">Segment 2</option>
          </select> -->
        </div>

        <div class="form-group">
          <div
            class="form-group"
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 4px;
            "
          >
            <label for="botType" style="margin-right: 30px">Location*</label>
            <div style="margin-left: 36px">
              <input type="checkbox" id="markAsOnline" />
              <label for="markAsOnline" style="margin-top: 4px"
                >Mark as Online</label
              >
            </div>
          </div>
          <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Location</option>
            <option value="Delhi">Delhi</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Banglore">Banglore</option>
            <option value="Chandigarh">Chandigarh</option>
          </select>
        </div>

        <div class="form-group">
          <label for="botVariant">Hiring Manager*</label>
          <input placeholder="{{round.hiring_manager}}" readonly/>
          <!-- <select id="botVariant" class="bg_color" name="botVariant">
            <option value="" disabled selected>Select Hiring Manager</option>
            <option value="Manoj Bisht">Manoj Bisht</option>
            <option value="Arvind Chaudhary">Arvind Chaudhary</option>
            <option value="Preeti Singh">Preeti Singh</option>
          </select> -->
        </div>
      </div>
    </div>

    <!-- Third Party Integration -->
    <div *ngIf="round.interview_type === 'Third party integration'">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <input placeholder="{{ round.interview_type }}" readonly />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="botType">Integration Type*</label>
          <input placeholder="{{round.integration_type}}" readonly/>
          <!-- <select
            [(ngModel)]="round.integration_type"
            id="botType "
            class="bg_color"
            name="botType"
          >
            <option value="" disabled selected>Select Bot Type</option>
            <option value="HackerRank">Hacker Rank</option>
            <option value="GFG">GFG</option>
            <option value="CodeChef">CodeChef</option>
            <option value="HackerEarth">Hacker earth</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="botVariant">Test Type*</label>
          <input placeholder="{{round.test_type}}" readonly/>
          <!-- <select
            [(ngModel)]="round.testType"
            id="botVariant"
            class="bg_color"
            name="botVariant"
            [disabled]="!round.integrationType"
          >
            <option value="" disabled selected>Select Test Type</option>
            <option *ngFor="let testType of testTypes" [value]="testType">
              {{ testType }}
            </option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="botType">Qualifying Criteria*</label>
          <input placeholder="{{round.qualifying_criteria}}" readonly/>
          <!-- <select
            [(ngModel)]="round.qualifyingCriteria"
            id="botType "
            class="bg_color"
            name="botType"
            [disabled]="!round.testType"
          >
            <option value="">Select qualifying Criteria</option>
            <option value="1">>1</option>
            <option value="2">>2</option>
            <option value="3">>3</option>
            <option value="4">>4</option>
            <option value="5">>5</option>
          </select> -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <input placeholder="{{round.campaign_type}}" readonly/>
          <!-- <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="driveBot">Campaign 1</option>
            <option value="driveBot">Campaign 2</option>
            <option value="driveBot">Campaign 3</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <input placeholder="{{round.campaign_varient}}" readonly/>
          <!-- <select
            [(ngModel)]="round.time"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="">Varient 1</option>
            <option value="">Varient 2</option>
            <option value="driveBot">Varient 3</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <input placeholder="{{round.campaign_segment}}" readonly/>
          <!-- <select
            [(ngModel)]="round.campaign"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Campaign 1">Segment 1</option>
            <option value="Campaign 2">Segment 2</option>
          </select> -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Close link within*</label>
          <input placeholder="{{round.close_link_within}}" readonly/>
          <!-- <select
            [(ngModel)]="round.interviewWithin"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select time</option>
            <option value="24 hours">24 hours</option>
            <option value="48 hours">48 hours</option>
            <option value="72 hours">72 hours</option>
          </select> -->
        </div>
      </div>
    </div>

    <!-- Bot Call -->

    <div *ngIf="round.interview_type === 'Bot Call'">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <input placeholder="{{ round.interview_type }}" readonly />
        </div>
        <div class="form-group">
          <label for="botType">Bot Type*</label>
          <input placeholder="{{round.bot_type}}" readonly/>
          <!-- <select
            [(ngModel)]="round.botType"
            id="botType "
            class="bg_color"
            name="botType"
          >
            <option value="">Select Bot Type</option>
            <option value="driveBot">Drive Bot</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="botVariant">Bot Variant*</label>
          <input placeholder="{{round.bot_varient}}" readonly/>
          <!-- <select
            [(ngModel)]="round.botVariant"
            id="botVariant"
            class="bg_color"
            name="botVariant"
          >
            <option value="" disabled selected>Bot Variant</option>
            <option>
              
            </option>
          </select> -->
        </div>
      </div>
      <div
        class="form-row"
        style="display: flex"
      >
        <div class="form-group" style="flex: 1">
          <label for="campaign">Bot Segment*</label>
          <input placeholder="{{round.bot_segment}}" readonly/>
        </div>
        <!-- <mat-form-field
          class="example-chip-list"
          style="background-color: white"
        >
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            <mat-chip-row
              *ngFor="let fruit of Skills; let i = index"
              (removed)="remove(fruit)"
              [editable]="true"
              (edited)="edit(fruit, $event)"
              [aria-description]="'press enter to edit ' + fruit.name"
              style="margin-top: -8px"
            >
              {{ fruit.name }}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="Skills..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              style="margin-bottom: 16px"
            />
          </mat-chip-grid>
        </mat-form-field> -->
      </div>
      <div class="form-row">
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <input placeholder="{{round.campaign_type}}" readonly/>
          <!-- <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="driveBot">Campaign 1</option>
            <option value="driveBot">Campaign 2</option>
            <option value="driveBot">Campaign 3</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <input placeholder="{{round.campaign_varient}}" readonly/>
          <!-- <select
            [(ngModel)]="round.time"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="">Varient 1</option>
            <option value="">Varient 2</option>
            <option value="driveBot">Varient 3</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <input placeholder="{{round.campaign_segment}}" readonly/>
          <!-- <select
            [(ngModel)]="round.campaign"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Campaign 1">Segment 1</option>
            <option value="Campaign 2">Segment 2</option>
          </select> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="header">
    <a href="#" class="back-arrow">
      <a href="#" class="back-button"><i class="fa-solid fa-arrow-left"></i></a
    ></a>
    <h1 class="title">Build Cycle</h1>
    <button class="btn outlined">Add Interview Round</button>
    <button class="btn filled">Save</button>
  </div> -->

<!-- <div class="section">
    <div class="section-header">
      <i
        class="fas fa-check-circle"
        style="color: #23cd5e; margin-right: 5px"
      ></i>
      <h2 class="section-title">First Round of Interview</h2>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="campaign">Interview Type*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
      <div class="form-group">
        <label for="botType">Bot Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Bot Variant*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Bot Variant</option>
        </select>
      </div>
    </div>
    <div class="form-row" style="display: flex">
      <div class="form-group" style="flex: 1">
        <label for="campaign">Campaign*</label>
        <select
          id="campaign"
          class="bg_color"
          style="width: 250px"
          name="campaign"
        >
          <option value="">Select Campaign</option>
        </select>
      </div>

      <div class="form-group" style="flex: 2; margin-left: 18px">
        <label for="skills">Skills*</label>
        <select id="skills" class="bg_color" name="skills">
          <option value="">Select Skills</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Qualifying Criteria*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Hiring Manager*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Hiring Manager</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Campaign*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Integration Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Test Type*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Test Type</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Interview Within*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Interview Within</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">State*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Address 1*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Adress 1</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Address 2*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Address 2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <i
        class="fas fa-check-circle"
        style="color: #23cd5e; margin-right: 5px"
      ></i>
      <h2 class="section-title">Second Round of Interview</h2>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="campaign">Interview Type*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
      <div class="form-group">
        <label for="botType">Bot Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Bot Variant*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Bot Variant</option>
        </select>
      </div>
    </div>
    <div class="form-row" style="display: flex">
      <div class="form-group" style="flex: 1">
        <label for="campaign">Campaign*</label>
        <select
          id="campaign"
          class="bg_color"
          style="width: 250px"
          name="campaign"
        >
          <option value="">Select Campaign</option>
        </select>
      </div>

      <div class="form-group" style="flex: 2; margin-left: 18px">
        <label for="skills">Skills*</label>
        <select id="skills" class="bg_color" name="skills">
          <option value="">Select Skills</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Qualifying Criteria*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Hiring Manager*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Hiring Manager</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Campaign*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Integration Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Test Type*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Test Type</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Interview Within*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Interview Within</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">State*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Address 1*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Adress 1</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Address 2*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Address 2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <i
        class="fas fa-check-circle"
        style="color: #23cd5e; margin-right: 5px"
      ></i>
      <h2 class="section-title">Third Round of Interview</h2>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="campaign">Interview Type*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
      <div class="form-group">
        <label for="botType">Bot Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Bot Variant*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Bot Variant</option>
        </select>
      </div>
    </div>
    <div class="form-row" style="display: flex">
      <div class="form-group" style="flex: 1">
        <label for="campaign">Campaign*</label>
        <select
          id="campaign"
          class="bg_color"
          style="width: 250px"
          name="campaign"
        >
          <option value="">Select Campaign</option>
        </select>
      </div>

      <div class="form-group" style="flex: 2; margin-left: 18px">
        <label for="skills">Skills*</label>
        <select id="skills" class="bg_color" name="skills">
          <option value="">Select Skills</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Qualifying Criteria*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Hiring Manager*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Hiring Manager</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Campaign*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Integration Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Test Type*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Test Type</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Interview Within*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Interview Within</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">State*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Address 1*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Adress 1</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Address 2*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Address 2</option>
        </select>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section-header">
      <i
        class="fas fa-check-circle"
        style="color: #23cd5e; margin-right: 5px"
      ></i>
      <h2 class="section-title">Fourth Round of Interview</h2>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="campaign">Interview Type*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
      <div class="form-group">
        <label for="botType">Bot Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Bot Variant*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Bot Variant</option>
        </select>
      </div>
    </div>
    <div class="form-row" style="display: flex">
      <div class="form-group" style="flex: 1">
        <label for="campaign">Campaign*</label>
        <select
          id="campaign"
          class="bg_color"
          style="width: 250px"
          name="campaign"
        >
          <option value="">Select Campaign</option>
        </select>
      </div>

      <div class="form-group" style="flex: 2; margin-left: 18px">
        <label for="skills">Skills*</label>
        <select id="skills" class="bg_color" name="skills">
          <option value="">Select Skills</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Qualifying Criteria*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Hiring Manager*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Hiring Manager</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Campaign*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Campaign</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">Integration Type*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Test Type*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Test Type</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Interview Within*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Interview Within</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="botType">State*</label>
        <select id="botType " class="bg_color" name="botType">
          <option value="">Select Bot Type</option>
          <option value="driveBot">Drive Bot</option>
        </select>
      </div>

      <div class="form-group">
        <label for="botVariant">Address 1*</label>
        <select id="botVariant" class="bg_color" name="botVariant">
          <option value="">Select Adress 1</option>
        </select>
      </div>

      <div class="form-group">
        <label for="campaign">Address 2*</label>
        <select id="campaign" class="bg_color" name="campaign">
          <option value="">Select Address 2</option>
        </select>
      </div>
    </div>
  </div> -->
