

.header{
    font-weight: 400;
  }
  
  .header-container{
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .container{
  padding-left: 10px;
  margin-top: 20px;
  }
  
  .example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  
  .topbar{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  .basic-matcard{
    width: 320px;
    margin-left: 20px;
    margin-bottom: 20px;
    height:fit-content
  }
  
  mat-card-header{
    display: flex;
    justify-content: space-between;
    background-color: #00000024;
    border-radius:  5px;
    // border-top-left-radius:  10px;
    color: #a64eed;
  
    mat-card-title{
      margin-top: 10px;
    }
  
    mat-checkbox{
      margin-top: 15px;
      margin-right: 10px;
    }
  
  }
  
  mat-card-content{
    mat-checkbox{
      margin-top: 15px;
      margin-right: 10px;
    }
  
  }
  
  /* .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  
  .card-container{
    margin-bottom: 25px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }
  
  .matcardcontent{
    margin-top: 10px;
  display: flex;
  justify-content: space-between;
  }
  
  .footer{
  height: 40px;
  }
  .rightnavigation{
  position: absolute;
  width: 40%;
  right: -150px;
  top: 0px;
  z-index: 10;
  }
  
  
  
  .on-submitbutton {
  
    width: 90px;
    height: 36px;
    background-color: #a64eed;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
  }
  
  .on-submitbutton:active {
    background: #D2A6F6;
    color: white;
  }
  
  .container-fluid {
    margin-top: 2rem;
  
    .rightnavigation {
      position: absolute;
      width: 31%;
      right: 0;
      top: 0px;
      z-index: 10;
    }
  }
  
  @media screen and (max-width: 767px) {
    .container-fluid {
      .rightnavigation {
        width: 75%;
      }
    }
  
  
  
  }