<div class="main-content"style="position:relative; ">
    <div class="container-fluid">
  
      <div class="col-lg-11 ">
        <Button class="btn btn-outline-primary" (click)="showhide() || back();"> Add/Edit Tracker
          Field</Button>
      </div>
  
      <div class="row">
  
        <div class="col-lg-12 row" *ngIf="ishideshow" style="margin-top: 10px;">
  
  
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-header card-header">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="card-title" style="font-weight: bold;">Add Tracker</h6>
                    <p class="card-category">Select Tracker Fields:</p>
                  </div>
                  <div class="col-md-6 pull-right">
                    <input id='searchtracker' type="text" class="form-control" placeholder="Quick Search"
                      [(ngModel)]='search' (click)="show();" />
                  </div>
                </div>
              </div>
              <!-- <div class="card-header">
              Search :
              </div> -->
              <div class="card-body table-responsive" style="height:523px; flex-direction: column;">
                <table class="table table-hover" style="flex-direction:coloum;">
  
                  <tbody>
                    <tr>
                      <td class="referral">
                        <div class="clearfix" style="clear:both;"></div>
                        <div class="row">
  
                          <div class="col-md-4"
                            *ngFor="let tr of trackermaster"
                            ngDefaultControl>
                            <label><input class="" type="checkbox" [checked]="tr.selected"
                                (change)='tr.selected=!tr.selected' [(ngModel)]='tr.dd'>{{tr.display_name}} <b
                                class=" badge badge-danger" *ngIf="tr.is_job_specific=='1'">JS</b> </label>
                          </div>
                        </div>
  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 card-footer">
                <button type="submit" class="btn  btn-raised btn-outline-primary validate" tar="#trackermessage"
                  (click)="trackersave();">Select</button>
              </div>
            </div>
          </div>
  
  
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-header card-header">
                <div class="row">
                  <div class="col-sm-6">
                    <h6 class="card-title" style="font-weight: bold;">Tracker</h6>
                  </div>
                  <!-- <p class="card-category">Save Tracker</p> -->
                  <div class="col-sm-6 pull-right">
                    <ng-select [(ngModel)]="id" (change)="showuser(this.id)" style="color: white;"
                      placeholder="Copy From Existing Tracker">
                      <ng-option [value]="trackername.id" *ngFor="let trackername of rowData">{{trackername.tracker_name}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="card-body table-responsive" style="height:523px;">
                <table class="table table-hover">
  
                  <tbody>
                    <tr>
                      <td class="referral">
                        <div>
                          <div class="panel panel-success">
                            <div class="panel-heading">
                              <div class="form-group" id="trackermessage">
                                <div class="row">
                                  <div class="col-md-12">
  
                                    <label>{{trackermessage.display_name}}</label>
                                    Tracker name: <input matInput autocomplete="off" type="text" class="form-control e" id="tname"
                                      n="Tracker Name" validate [(ngModel)]="trackermessage.tracker_name"
                                      placeholder="Tracker name:">
                                  </div>
                                </div>
                              </div>
                              <!-- Selected Fields of Panel -->
                            </div>
                            <div class="panel-body col-sm-12">
                              <!-- <div cdkDropList class="col-sm-12" (cdkDropListDropped)="drop(Event)">
                                <div class="example-box" style="height: 10px;" *ngFor="let obj of trackerselected"
                                  cdkDrag> {{obj.display_name}}
                                  <button type="button" (click)="removetracker(obj)" class="btn-raised pull-right"
                                    style="background-color:red;color:white;">Remove</button>
  
                                </div>
                              </div> -->
                              <div cdkDropList class="example-list col-sm-12" (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let obj of trackerselected" cdkDrag>
                                  <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                  {{obj.display_name}}
                                  <button type="button" (click)="removetracker(obj)" class="btn-raised pull-right"
                                    style="background-color:red;color:white;">Remove</button>
                                </div>
                              </div>
                              <div class="alert alert-outline-info" *ngIf='trackerselected.length===0'
                                style="font-weight: bold;">Please select tracker
                                fields and click
                                select button !</div>
                            </div>
                          </div>
                        </div>
  
  
  
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
  
              <div class="form-group">
                <div class="col-md-10">
                  <button type="button" *ngIf="!isEdit" class="btn  btn-raised btn-outline-primary validate"
                    tar="#trackermessage" (click)="submittrackersave()">Submit</button>
                  <button type="button" class="btn  btn-raised btn-outline-primary validate" tar="#trackermessage"
                    (click)="submittrackersave()" *ngIf="isEdit">Make a Copy</button>
                  <button type="button" class="btn  btn-raised btn-outline-primary" tar="#trackermessage" *ngIf="isEdit"
                    (click)="trackerupdate()">Update</button>
                  <button type="button" class="btn  btn-raised btn-outline-primary" tar="#trackermessage" *ngIf="isEdit"
                    (click)="back()">Back</button>
  
                </div>
  
  
              </div>
            </div>
          </div>
  
  
  
  
  
        </div>
  
  
        <!-- <ag-grid-angular *ngIf="ishideshow == false;" style="height: 500px; width: 1500px;" class="ag-theme-material"
          (rowClicked)="onRowClicked($event)" rowSelection='multiple' class="ag-theme-material" [rowData]="rowData"
          [columnDefs]="columnDefs" suppressCsvExport=false [suppressRowClickSelection]="true"
          [groupSelectsChildren]="true" paginationAutoPageSize='true' (selectionChanged)="onSelectionChanged($event)"
          [debug]="true" [enableRangeSelection]="true" [pagination]="true" (gridReady)="onGridReady($event)">
        </ag-grid-angular> -->
        <br>
      </div>
    </div>
  </div>
  