<div class="form-container">
    <div class="form-top">
      <span class="form-head">Create Areas</span>
      <!-- <i class="fa-regular fa-window-maximize maximizeicon" routerLink="/add-new-candidate" title="Maximize Screen"></i> -->
      <i routerLink="/managerole" class="fa-solid fa-xmark" title="Close"></i>
    </div>
    <form #usersForm="ngForm" inputmode="myForm">
      <div class="form-group">
        <mat-form-field class="custom-input">
          <mat-label>Area Name:</mat-label>
          <input matInput [(ngModel)]="area" name="areaName" placeholder="Enter Area Name">
        </mat-form-field>
      </div>
      <button class="submitbtn" (click)="onSubmit()">Submit</button>
    </form>
  
  </div>