section {
    overflow-y: auto;
  }
  mat-card-title {
    text-align: center;
  }
  
  .spacer {
    height: 20px;
  }
  .custom_editor {
    width: 100%;
    height: 500px; 
    box-sizing: border-box;
    overflow-wrap: break-word; 
  }
  :host ::ng-deep .ck.ck-editor__editable_inline>:last-child {
    margin-bottom: var(--ck-spacing-large);
    height: 240px;
    overflow-x: auto;
  }

  .textarea-container {
    position: relative;
  }
  
  .suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .suggestions div {
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestions div.selected {
    background-color: #ddd;
  }