<div class="main-content" style="position: relative">
  <div class="container-fluid">
    <section>
      <mat-card>
        <mat-icon (click)="onCloseChild()">close</mat-icon>
        <mat-card-title
          ><span *ngIf="!isEditTemplate">Create New</span>
          <span *ngIf="isEditTemplate">Edit </span> SMS Template</mat-card-title
        >
        <mat-card-content>
          <mat-form-field class="w-100">
            <input
              matInput
              n="Template Name"
              [(ngModel)]="message.template_name"
              id="titile"
              type="text"
              placeholder="Template Name"
            />
          </mat-form-field>

          <div class="row">
            <mat-form-field class="col-lg-6">
              <mat-label>Template Area</mat-label>
              <mat-select
                disableRipple
                id="Template"
                n="area"
                [(ngModel)]="message.template_area"
              >
                <mat-option>For Reference</mat-option>
                <mat-option value="cs">Candidate Status</mat-option>
                <mat-option value="rs" ng-if="profile.app_id == '6'"
                  >Referrer Status</mat-option
                >
                <mat-option value="job_status">Job Status</mat-option>
                <mat-option value="misc">Misc.</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-lg-6">
              <mat-label>Sended BY:</mat-label>
              <mat-select
                disableRipple
                id="temp"
                n="SMS/Email"
                [(ngModel)]="message.sended_by"
              >
                <mat-option value="prefer">prefer</mat-option>
                <mat-option value="passive">passive</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Dlt Id"
              [(ngModel)]="message.dlt_te_id"
            />
          </mat-form-field>
          <!-- <textarea
              matInput
              maxlength="556"
              placeholder="Message"
              [(ngModel)]="message.message"
              matTextareaAutosize
              matAutosizeMinRows="5"
              matAutosizeMaxRows="20"
              (input)="onInput($event)"
              #messageTextarea
            ></textarea> -->
          <div class="textarea-container" (click)="onContainerClick($event)">
            <textarea
              matInput
              maxlength="556"
              placeholder="Message"
              [(ngModel)]="message.message"
              matTextareaAutosize
              matAutosizeMinRows="15"
              matAutosizeMaxRows="20"
              (input)="onInput($event)"
              (keydown)="onKeyDown($event)"
              style="height: 150px; width: 500px"
              #messageTextarea
            ></textarea>
            <div
              *ngIf="showSuggestions"
              class="suggestions"
              [ngStyle]="{
                top: suggestionTop+ 'px',
                left: suggestionLeft + 'px'
              }"
            >
              <div
                *ngFor="let suggestion of suggestions; let i = index"
                (click)="onAutocompleteSelection(suggestion)"
                [class.selected]="i === selectedIndex"
                (mouseover)="selectedIndex = i"
              >
                {{ suggestion }}
              </div>
            </div>
          </div>
          <!-- <mat-form-field style="visibility: hidden">
            <input
              matInput
              [matAutocomplete]="auto"
              placeholder="Variables"
              (input)="onEditorInput($event.target)"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let suggestion of suggestions"
                [value]="suggestion"
                (onSelectionChange)="onAutocompleteSelection(suggestion)"
              >
                {{ suggestion }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
        </mat-card-content>
        <mat-card-actions>
          <button
            class="btn btn-success"
            *ngIf="!isEditTemplate"
            (click)="onSaveMessageTemplate()"
          >
            Save
          </button>
          <button
            class="btn btn-success"
            *ngIf="isEditTemplate"
            (click)="onUpdateMessageTemplate()"
          >
            Update
          </button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>
