
@import "~@fortawesome/fontawesome-free/css/all.css";
/* @import "compass"; */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
/* Experience start */
body {
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  padding: 0;
  background: #f4f4f4;
}
.container {
  width: 710px;
  height: 70vh;
  margin: 15px 15px;
  background: #fff;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.section-title {
  font-size: 22px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-top: 0;
}
.summary-section,
.history-section,
.education-section {
  margin-top: 10px;
}
.section-subtitle {
  font-size: 16px;
  margin: 10px 0 5px 0;
  font-weight: 500;
}
.section-content {
  font-size: 16px;
  color: #666;
}
.add-link {
  font-size: 16px;
  color: #0077cc;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.add-link:hover {
  text-decoration: underline;
}
/* Experience End */



/* Document Start */

.document-uploader {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.upload-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-list {
  margin-top: 20px;
}

.file-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-name {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.remove-button {
  color: red;
  cursor: pointer;
}


 .title {
  color: #333;
  /* font-size: 24px; */
  /* margin-bottom: 10px; */
}

/* file-list.component.css */
.file-grid {
  display: flex;
  flex-wrap: wrap;
}

.file-item {
  position: relative;
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  margin: 10px;
  text-align: center;
  width: 150px; /* Increase the width */
  height: 150px; /* Set a height */
  border: none;
  padding: 10px; /* Optional: Add padding for inner spacing */
}

.file-item i {
  font-size: 60px; /* Increase icon size */
  margin-bottom: 10px; /* Space between icon and text */
}

.file-item p {
  margin-top: 5px;
  font-size: 14px; /* Adjust as needed */
  word-break: break-word; /* Handle long names */
}
.cancel-icon {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px !important ;
  color: red; /* Adjust the color as needed */
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}


/* Document End */

/* ScoreCard Starts */
body {
  font-family: Arial, sans-serif;
}

.scorecard {
  background-color: white;
  width: 750px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scorecard h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.textarea-section{
padding-right: 20px;
}



.textarea-section,
.ratings-section,
.buttons-section {
  margin-bottom: 20px;
}

.textarea-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 100px;
  resize: vertical;
}

.ratings-section span {
  display: block;
  margin-bottom: 5px;
}

.ratings-section label {
  margin-right: 10px;
}

.ratings-section input[type="radio"] {
  margin-right: 5px;
}

.buttons-section {
  text-align: right;
}

#reset-button,
#save-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#reset-button {
  background-color: #ccc;
  color: white;
}

#save-button {
  background-color: #4caf50;
  color: white;
  margin-left: 10px;
}
.ratings-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ratings-section label {
  display: flex;
  align-items: center;
}

.ratings-section i {
  margin-right: 5px;
}
/* ScoreCard End */

/* Email/Sms Start  */
/* body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.content {
  margin-top: 20px;
}

.icon img {
  max-width: 64px; /* Adjust size as needed */
}

.message h2 {
  margin: 20px 0 10px 0;
  color: #333;
}

.message p {
  color: #666;
}

.buttons {
  display: flex;
  gap: 10px;
}

.email-btn, .sms-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}

.email-btn {
  background-color: #007bff;
  color: white;
}

.sms-btn {
  background-color: #28a745;
  color: white;
}

/* Meeting Start */


.meetings-container {
  background-color: white;
  width: 700px;
  margin: 30px auto;
  padding: 20px;
  margin: 25px;
  border-radius: 8px;
  height: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meetings-container h1 {
  margin-top: 0;
  color: #333;
}

.meetings-content {
  margin-top: 20px;
}

.meetings-content i.fa-calendar-alt {
  font-size: 48px; /* Icon size */
  color: #333; /* Icon color */
}

.meetings-content h2 {
  margin: 20px 0 10px 0;
}

.meetings-content p {
  color: #666;
  margin-bottom: 20px;
}

.schedule-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

/* Adjust button styles on hover */
.schedule-btn:hover {
  background-color: #0056b3;
}

.interview-scheduler {
  background-color: #ffffff;
  width: 900px;
  border-radius: 8px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  color: #333333;
  font-size: 22px;
}

.header p {
  margin: 5px 0;
  font-size: 14px;
  color: #666666;
}

.header a {
  color: #0066cc;
  text-decoration: none;
}

.header button.close-btn {
  background: none;
  border: none;
  font-size: 28px;
  color: #666666;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

.date-time-zone {
  display: flex;
  justify-content: space-between;
}

.date-time-zone .date-picker input,
.date-time-zone .time-zone-selector select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.interview-details input,
.interview-details textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.interviewer-search {
  display: flex;
  justify-content: space-between;
}

.interviewer-search input {
  flex-grow: 1;
  margin-right: 10px;
}

.interviewer-search .search-btn {
  padding: 8px 16px;
  background-color: #0066cc;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer button.add-interview {
  background-color: #f0f0f0;
  color: #333333;
}

.footer .right-side-buttons button {
  margin-left: 10px;
}

.footer .save-template {
  background-color: #0066cc;
  color: white;
}

.footer .cancel {
  background-color: #999999;
  color: white;
}

.footer .continue {
  background-color: #28a745;
  color: white;
}

/* Meeting End */


/* Candidate Status Start */

/* FONT */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");

/* BASE */
html {
  font-size: 13px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  line-height: 13px;
  -webkit-font-smoothing: auto;
  text-rendering: optimizeLegibility;
  color: #fff;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2E1F47; /* Previously $BODY_BG */
  letter-spacing: 0.6px;
}

p {
  font-size: 13px;
  margin: 0 0 11px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: 4rem; /* Previously $SPACER_LG*2 */
}

header h1 {
  font-size: 1.8rem;
  line-height: 2.1rem;
}

header p {
  margin-top: 1rem; /* Previously $SPACER */
}

header .icon {
  color: #F3597D; /* Previously $ICON_COLOR */
}

/* THE GOOD STUFF */
.progressContainer {
  position: relative;
  width: 740px;
  height: 85%;
  margin-top: 1px;
  overflow: hidden;
  padding: 2rem; /* Previously $SPACER_LG */
  color: #fff;
  background: rgb(255, 255, 255); /* Previously $PROGRESS_BG */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}


.progress {
  position: relative;
  padding: 0 1rem 0 3.5rem; /* Previously $SPACER */
  margin: 2rem 0 0; /* Previously $SPACER_LG */
  list-style: none;
}

.progress__item {
  position: relative;
  min-height: 75px; /* Previously $PROGRESS_LIST_HEIGHT */
  counter-increment: list;
  padding-left: 0.5rem; /* Previously $SPACER_XS */
}

.progress__item:before {
  content: "";
  position: absolute;
  left: -1.5rem; /* Adjust as needed */
  top: 33px; /* Adjust as needed to align with your layout */
  height: 60%; /* Adjust as needed */
  width: 1px;
  border-left: 1px solid #000; /* Changed to black */
}

.progress__item:after {
  content: counter(list);
  position: absolute;
  top: 0;
  left: -2.5rem;
  width: 26px; /* Previously $PROGRESS_COUNTER_WIDTH */
  height: 26px; /* Previously $PROGRESS_COUNTER_WIDTH */
  border-radius: 50%;
  background: #000; /* Changed to black */
  color: #fff; /* Adjust text color as needed */
  font-weight: 400;
  font-size: 13px;
  line-height: 26px; /* Make sure this matches the height for vertical centering */
  text-align: center;
  border: 1px solid #000; /* Changed to black */
}

.progress__item:last-child:before {
  border: none;
}

.progress__item.progress__item--completed {
  opacity: 0.6;
  color: #000;
  color: white;
}

.progress__item.progress__item--completed:after {
  content: "\2713";
  font-weight: 400;
  background: #000;
  color: #ffffff; 
}

.progress__item.progress__item--active:after {
  background: #000;
  color: white; /* Previously $PROGRESS_BG */
}

.progress__title {
  /* padding: 0.4rem 0 0.5rem;  */
  margin: 0;
  font-size: 1.2rem;
}

.progress__info {
  font-size: 13px;
}
/* Candidate Status End */

/* Resume Start */

/* .container {
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 0px;
  padding-top: -10px;
} */

.resume-upload-section {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers items vertically */
  justify-content: space-between; /* Spreads out the items */
  background-color: #ffffff;
  /* padding: 20px; */
  margin-bottom: 10px;
  margin-top: -20px;
}

.resume-upload-section h2 {
  font-size: 1.5em;
  color: #5a5a5a;
}

.resume-upload-section input[type="file"] {
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 6px;
}

.resume-upload-section button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resume-upload-section button:hover {
  background-color: #45a049;
}

.resume-frame {
  width: 100%;
  height: 500px;
  border: none;
}

/* .resume-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-upload-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.resume-upload-input {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px; 
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-button:hover {
  background-color: #0056b3;
} */
/* Resume End */

/* Candidate Details Start */
/* .header {
  text-align: center;
  margin-bottom: 40px;
}
.header h1 {
  margin: 0;
}
.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}
.detail {
  background: #ffffff;
  border-left: 5px solid #007bff;
  padding: 10px 15px;
  border-radius: 4px; h4 {
  margin: 0 0 5px 0;
  font-size: 16px;
  }
}
.detail-item p {
  margin: 0;
  font-weight: 500;
} */
/* Candidate Details Start */


.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #2a2a2a;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label_item {
  font-weight: bold;
  /* margin-bottom: 5px; */
  color: #555;
  text-transform: uppercase;
}

.candi_details {
  background-color: #fff;
  /* border: 1px solid #ddd; */
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.candi_details:hover {
  border-color: #bbb;
}

/* Interactive elements */
a.candi_details {
  color: #1a0dab;
  text-decoration: none;
}

a.candi_details:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .details-grid {
    grid-template-columns: 1fr;
  }
}

/* Candidate Details End */

/* Email/Sms Start */
.email-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.form-field {
  margin-bottom: 10px;
}
.form-field label {
  display: block;
  margin-bottom: 5px;
}
.form-field input[type="text"],
.form-field textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-field input[type="text"] {
  height: 20px;
}
.form-field textarea {
  height: 100px;
}
.buttons {
  margin-top: 10px;
}
.buttons button {
  padding: 5px 15px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.buttons .send {
  background-color: #4CAF50;
  color: white;
}
.send{
  height: 38px;
}
.button-row {
  display: flex;
  /* background-color: #0077cc; */
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
}

.attach-button {
  background-color: #00AEEF; /* Similar to the color in the screenshot */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; /* Adjust size as needed */
  display: inline-flex; /* Use flexbox for aligning icon and text */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center content horizontally */
}

/* Style for the paperclip icon - ensure you have Font Awesome or similar included */
.attach-button .fa {
  margin-right: 8px; /* Space between icon and text */
}

/* Style for the file name display */
.attachment-field span {
  margin-left: 10px;
}

/* Additional styles to ensure the file input is not visible */
input[type="file"] {
  display: none;
}
/* Email/Sms End */


/* Discussion Start */
.discussion-container {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
.update {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  color: #555;
}
.update:last-child {
  border-bottom: none;
}
.timestamp {
  color: #999;
  margin-left: 10px;
}
.message-box {
  border-radius: 18px;
  background: #e1e1e1;
  padding: 10px 15px;
  display: inline-block;
  color: #555;
}
.send-message {
  display: flex;
  align-items: center;
  align-items: flex-end;
  margin-top: 10px;
  display: flex;
  gap: 10px; 
}
.send-message input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 18px;
}
.send-message button {
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 10px 20px;
  cursor: pointer;
}
.fa-paper-plane {
  margin-left: 5px;
}
.message-hint {
  color: #888;
  font-size: 0.8em;
  padding: 10px 0;
}
.message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.right .message-text {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  max-width: 60%;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.right .message-time {
  margin-left: 8px;
  color: #666;
  font-size: 12px;
  padding-top: 12px;
}

.chat-history {
  overflow-y: auto;
  max-height: 300px; /* Adjust based on your requirement */
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}
/* Discussion End */