<!-- <h1>hello</h1> -->
<!-- Experience Template -->
<div *ngIf="_MyReference === 'Experience'" class="container">
  <h1 class="section-title">Experience</h1>
  <div class="summary-section">
    <h4 class="title" style="display: flex; justify-content: center">
      Summary
    </h4>
    <p class="candi_details" style="display: flex; justify-content: center">
      {{ experienceDetails.summary }}
    </p>
  </div>
  <div class="history-section">
    <h4 class="title" style="display: flex; justify-content: center">
      Work History
    </h4>
    <div class="detail col" style="display: flex; justify-content: center">
      <label class="label_item">Company Name:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ experienceDetails.company_name }}
      </p>
    </div>
    <div class="detail col" style="display: flex; justify-content: center">
      <label class="label_item">Job Title:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ experienceDetails.job_title }}
      </p>
    </div>
    <div class="detail col" style="display: flex; justify-content: center">
      <label class="label_item">Start Date:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ startDate }}
      </p>
    </div>
    <div class="detail col" style="display: flex; justify-content: center">
      <label class="label_item">End Date:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ endDate }}
      </p>
    </div>
    <a href="#" class="add-link" style="display: flex; justify-content: center"
      >+ Add Work History</a
    >
  </div>
  <!-- <div class="education-section">
      <div class="section-subtitle">Education</div>
      <p class="section-content">No education added yet.</p>
      <a href="#" class="add-link">+ Add Education</a>
    </div> -->
</div>

<!-- <ng-template #AddHistory>
    <div>hello</div>
  </ng-template> -->

<!-- Documents Start -->
<div *ngIf="_MyReference === 'Documents'" class="container">
  <div class="resume-upload-section">
    <h2>Documents</h2>
    <button (click)="fileInput.click()" class="upload-button">
      + Add Document
    </button>
    <input
      #fileInput
      type="file"
      (change)="onFileSelected($event)"
      style="display: none"
      multiple
    />
  </div>
  <div class="file-list">
    <div *ngFor="let file of files" class="file-item">
      <span class="file-name">{{ file.name }}</span>
      <span class="remove-button" (click)="removeFile(file)">Remove ×</span>
    </div>
  </div>
</div>
<!-- <div *ngIf="_MyReference === 'Documents'" class="container">
    <div class="resume-upload-section">
      <h2>Documents</h2>
      <input type="file" id="resumeFile" name="resume" />
      <button onclick="UploadDocument()">Upload Document</button>
    </div>
  </div> -->
<!-- <div *ngIf="_MyReference === 'Documents'" class="container">
    <h1 class="section-title">Documents</h1>
    <span class="icon">📄</span>
    <div class="no-documents">No Documents</div>
    <div class="message">There hasn't been any documents added yet.</div>
    <div class="upload-instructions">
      Drag and Drop your files here or click below
    </div>
    <button class="upload-button">+ Add Document</button>
  </div> -->
<!-- Documents End -->

<!-- ScoreCard Start-->
<div *ngIf="_MyReference === 'Scorecard'" class="scorecard">
  <form id="scorecard-form">
    <h1 class="section-title">Scorecard</h1>

    <div class="textarea-section">
      <div style="margin-bottom: 20px">
        <label
          for="candidate-thoughts"
          style="margin-bottom: 50px; padding-bottom: 50px; font-weight: 510"
          >Thoughts on this Candidate?</label
        >
      </div>
      <textarea
        [(ngModel)]="candidateThoughts"
        id="candidate-thoughts"
        name="candidate_thoughts"
        placeholder="Share your thoughts on the candidate. This information will only be visible by Hiring Managers, not general team members."
      ></textarea>
    </div>

    <div class="rating-options">
      <label>
        <input
          type="radio"
          name="rating"
          value="very-poor"
          [(ngModel)]="rating"
          (change)="submitRating()"
        />
        <i class="fa-regular fa-face-frown"></i> Very Poor
      </label>
      <label>
        <input
          type="radio"
          name="rating"
          value="poor"
          [(ngModel)]="rating"
          (change)="submitRating()"
        />
        <i class="fa-regular fa-face-meh"></i> Poor
      </label>
      <label>
        <input
          type="radio"
          name="rating"
          value="good"
          [(ngModel)]="rating"
          (change)="submitRating()"
        />
        <i class="fa-regular fa-face-smile"></i> Good
      </label>
      <label>
        <input
          type="radio"
          name="rating"
          value="very-good"
          [(ngModel)]="rating"
          (change)="submitRating()"
        />
        <i class="fa-regular fa-face-grin-beam"></i> Very Good
      </label>
    </div>

    <div class="buttons-section">
      <button type="reset" id="reset-button">Reset</button>
      <button type="submit" id="save-button" (click)="saveScorecard()">
        Save Scorecard
      </button>
    </div>
  </form>
</div>
<!-- ScoreCard End-->

<!-- Email/Sms Start -->
<!-- <div *ngIf="_MyReference === 'Email / SMS'" class="container">
    <div class="header">
      <h1 class="section-title">Email / SMS</h1>
    </div>
    <div style="display: flex; justify-content: end">
      <div class="buttons">
        <button class="email-btn">Compose Email</button>
        <button class="sms-btn">SMS</button>
      </div>
    </div>
    <div class="content">
      <i class="fa-solid fa-envelope fa-2xl"></i>
      <div class="message">
        <h2>No Email / SMS</h2>
        <p>No messages have been sent to ameya yet.</p>
      </div>
    </div>
  </div> -->
<!-- Email/Sms End -->

<!-- Meetings Start -->
<!-- <div *ngIf="_MyReference === 'Meetings'" class="meetings-container">
  <h1 class="section-title">Meetings</h1>
  <div class="meetings-content">
    <i class="fa fa-calendar-alt"></i>
    <h2>No meetings yet</h2>
    <p>There haven't been any meetings scheduled yet.</p>
    <button mat-button (click)="openDailog(MeetDailog)">Open dialog</button> 
    <button mat-button class="schedule-btn" (click)="openDailog(MeetDailog)">
      Schedule Interview
    </button>
    <ng-template #MeetDailog>
        <mat-dialog-content class="">
          <div class="schedule-dialog">
            <header>
              <div>
                <h1>Schedule Interviews</h1>
                <a href="#">Learn More</a>
              </div>
              <button type="button">×</button>
            </header>
            <form>
              <div>
                <label for="date">Date</label>
                <input type="date" id="date" name="date" value="2024-04-26">
              </div>
              <div>
                <label for="timezone">Timezone</label>
                <select id="timezone" name="timezone">
                  <option value="gmt+0530">GMT+05:30 - Asia/Kolkata</option>
                  More timezone options
                </select>
              </div>
              <div class="interview-row">
                <input type="text" placeholder="deepansh Meeting (sales manager)" aria-label="Interview Title">
              </div>
              <div class="availability-check">
                <label for="availability">Availability</label>
                <input type="text" id="availability" name="availability" placeholder="sagar sharma">
              </div>
              <div>
                <textarea placeholder="Interview description" aria-label="Interview Description"></textarea>
              </div>
              <div></div>
              <div class="button-group">
                <button type="button" class="secondary">+ Add Interview</button>
                <button type="button" class="primary">Save as Template</button>
              </div>
            </form>
            <div class="button-group">
              <button type="button" class="secondary">Cancel</button>
              <button type="button" class="primary">Continue</button>
            </div>
          </div>     
        </mat-dialog-content>
      </ng-template> 
     <button class="schedule-btn" (click)="openDailog(MeetDailog)">
        Schedule Interview
      </button> 
  </div>
  <ng-template #MeetDailog>
    <mat-dialog-content class="">
      <div class="modal-dialog" role="document" style="width: 500px">
        <div class="modal-content">
          <h1>hello</h1>
        </div>
      </div>
    </mat-dialog-content>
  </ng-template>
</div> -->

<!-- Meeting End -->

<!-- Candidate status Start-->
<div *ngIf="_MyReference === 'Candidate journey'" class="progressContainer">
  <h1 class="section-title" style="color: black">Candidate Journey</h1>
  <ul class="progress">
    <li class="progress__item progress__item--completed">
      <p class="progress__title" style="color: black">18/04/2024</p>
      <p class="progress__info" style="color: black">Completed</p>
    </li>
    <li class="progress__item progress__item--active">
      <p class="progress__title" style="color: black">18/04/2024</p>
      <p class="progress__info" style="color: black">Current or Active</p>
    </li>
    <li class="progress__item">
      <p class="progress__title" style="color: black">18/04/2024</p>
      <p class="progress__info" style="color: black">Next Step</p>
    </li>
  </ul>
</div>
<!-- Candidate Status End -->

<!-- Resume Start -->

<div *ngIf="_MyReference === 'Resume / CV'" class="container">
  <div class="resume-upload-section">
    <h2>Resume/CV</h2>
    <input type="file" id="resumeFile" name="resume" />
    <button onclick="UploadResume()">Upload Resume</button>
  </div>
  <iframe
    id="resumeFrame"
    class="resume-frame"
    src="https://drive.google.com/file/d/1OyprLWGbw9_vWXWEN2N1U8yR3GjiYQz7/preview"
  ></iframe>
</div>

<!-- <div *ngIf="_MyReference === 'Resume / CV'" class="container">
    <form
      class="resume-upload-form"
      *ngIf="_MyReference === 'Resume / CV'"
      (ngSubmit)="UploadResume(resumeInput.files)"
      enctype="multipart/form-data"
    >
      <h1 class="section-title" for="resumeUpload" style="margin-top: 20px">
        Upload your resume
      </h1>
      <input
        type="file"
        #resumeInput
        name="resume"
        id="resumeUpload"
        accept=".pdf,.doc,.docx"
        class="resume-upload-input"
        required
      />
      <button type="submit" class="upload-button">Upload Resume</button>
    </form>
  </div> -->

<!-- Resume End -->

<!-- Candidate Details Start -->
<div *ngIf="_MyReference === 'Candidate Details'" class="container">
  <h2 class="title">Candidate Details</h2>
  <div class="details-grid">
    <div class="detail col" style="display: flex; justify-content: center">
      <label class="label_item">Full Name:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.candidate_name }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Email:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.email }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Phone Number:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.mobile_no }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Location:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.location }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Application Id:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.application_id }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Current Designation</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.current_designation }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Education:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.qualification }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Skills:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.current_salary }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">LinkedIn Profile:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.experience }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Portfolio:</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.gender }}
      </p>
    </div>
    <div class="detail" style="display: flex; justify-content: center">
      <label class="label_item">Skills</label>
      <p class="candi_details" style="display: flex; justify-content: center">
        {{ candidateDetails.skill_set }}
      </p>
    </div>
  </div>
</div>
<!-- Candidate Details End -->

<!-- Email/Sms Start -->
<div *ngIf="_MyReference === 'Email / SMS'" class="container">
  <div class="email-header">
    <strong>Email / SMS</strong>
  </div>
  <form>
    <div class="button-row">
      <div class="form-field">
        <label for="to">To</label>
        <input
          [(ngModel)]="Mailto"
          type="text"
          id="to"
          style="width: 500px"
          name="to"
          placeholder="deepanshu.j@botshreyasi.com"
        />
      </div>
      <div class="buttons">
        <button (click)="toggleCC()" type="button">+CC</button>
        <button (click)="toggleBCC()" type="button">+BCC</button>
      </div>
    </div>
    <div class="form-field" *ngIf="showCC">
      <label for="cc">CC</label>
      <input
        [(ngModel)]="MailCC"
        type="text"
        id="cc"
        name="cc"
        placeholder="Add CC"
      />
    </div>

    <div class="form-field" *ngIf="showBCC">
      <label for="bcc">BCC</label>
      <input
        [(ngModel)]="MailBCC"
        type="text"
        id="bcc"
        name="bcc"
        placeholder="Add BCC"
      />
    </div>
    <div class="form-field" [(ngModel)]="MailSubject">
      <label for="subject">Subject</label>
      <input
        type="text"
        id="subject"
        name="subject"
        placeholder="Re: botShreyasi opportunity"
      />
    </div>
    <div class="form-field">
      <label for="message" [(ngModel)]="MailBody">Message</label>
      <textarea
        id="message"
        name="message"
        placeholder="Compose your email to deepansh here..."
      ></textarea>
    </div>
    <div class="buttons">
      <div class="form-field">
        <input
          type="file"
          id="attachment"
          name="attachment"
          (change)="onFileSelected($event)"
          hidden
        />
        <label for="attachment" class="attach-button">
          <i class="fa fa-paperclip"></i> Attach
        </label>
        <span></span>
      </div>

      <button type="button" class="send" (click)="SubmitMail()">
        Send Email
      </button>
    </div>
  </form>
</div>
<!-- Email/Sms End -->

<!-- Discussion Start -->
<div *ngIf="_MyReference === 'Discussion'" class="container">
  <div class="update">
    You updated stage<strong>Feedback → Interviewing</strong
    ><span class="timestamp">Yesterday, 10:51 am</span>
  </div>
  <div class="update">
    You updated stage <b>Interviewing → Applied</b>
    <span class="timestamp">Yesterday, 10:52 am</span>
  </div>
  <div class="update">
    You updated stage <b>Applied → Disqualified</b>
    <span class="timestamp">Yesterday, 10:52 am</span>
  </div>
  <div class="update">
    You updated stage <b>Disqualified → Feedback</b>
    <span class="timestamp">Yesterday, 12:15 pm</span>
  </div>
  <div class="chat-history">
    <div class="message right" *ngFor="let message of messages">
      <div class="message-text">{{ message.text }}</div>
      <div class="message-time">{{ message.date | date : "shortTime" }}</div>
    </div>
  </div>
  <div class="send-message" style="margin-top: 200px">
    <input
      [(ngModel)]="newMessage"
      type="text"
      placeholder="Share a message with your team here."
      style="border: 1px solid black"
    />
    <button (click)="postMessage()">
      Post <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
  <div class="message-hint">
    <p>
    Share a message with your team here. You can use &#64;mentions to notify
    individual team members. * Remember not to include sensitive information.
  </p>
  </div>
</div>

<!-- Discussion End -->