.overflow-hidden {
    overflow: hidden !important;
  }

  body, html, .page-header {
    margin: 0;
    padding: 0;
    height: 90%;
    overflow: hidden;
  }
//   .ck-editor__editable {min-height: 500px;}