<!-- 
<footer   >
  <div class="container" data-role="footer" data-position="fixed" >
    <div class="row">
      <div class="col-md-3">
        <button mat-icon-button class="example-icon   ml-3 " type="button" mat-button
          aria-label="Example icon-button with menu icon ">
          <a href="https://support.passivereferral.com">
            Support
          </a>
        </button>

      </div>
      <div class="col-md-6">


      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col">
            <button mat-icon-button class="example-icon pull-right " type="button" mat-button
              aria-label="Example icon-button with menu icon" style="margin-left: auto;">
              <a href="https://botshreyasi.com">
                Visit Us
              </a>
            </button>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <div class="copyright pull-right ">
              &copy;
              {{test | date: 'yyyy'}}, Passive Referral
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</footer> -->

<div class="footer">
  <div class="footer__link">
    <a class="footer__link-item" [href]="Botshreyasi">Bot Shreyasi</a>
    <a class="footer__link-item" [href]="support">Support</a>
  </div>
  <div class="footer__icon">
    <!-- <button mat-mini-fab>
      <mat-icon fontSet="fa fa-fs" fontIcon="fa-facebook-square"></mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon fontSet="fa fa-fs" fontIcon="fa-twitter-square"></mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon fontSet="fa fa-fs" fontIcon="fa-github-square"></mat-icon>
    </button> -->
    &copy;
    {{currentdate | date: 'yyyy'}}, Passive Referral
  </div>
</div>