<div class="form-container">
    <div class="form-top">
        <span class="form-head">Please Fill this form</span>
        <!-- <i class="fa-regular fa-window-maximize maximizeicon" routerLink="/add-new-candidate" title="Maximize Screen"></i> -->
        <i routerLink="/candidate-status" class="fa-solid fa-x" title="Close"></i>
    </div>
    <form #usersForm="ngForm" (ngSubmit)="postUsersFormData(usersForm.value)" inputmode="myForm">
        <div class="form-group">
            <label for="display_name">Display Name:</label>
            <input type="text" ngModel name="display_name" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="root_name">Root Name:</label>
            <input type="text" ngModel name="root_name" placeholder=" Enter Root Name">
        </div>

        <div class="form-group">
            <label for="is_interview">Is Interview:</label>
            <select class="form-control" name="is_interview" ngModel placeholder="Please Select" required>
                <option hidden value="" disabled selected>Please Select</option>
                <option [value]=1 [selected]=1>Yes</option>
                <option [value]=0 [selected]=0>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="channel_id">Channel ID:</label>
            <select class="form-control" name="channel_id" ngModel placeholder="Please Select" required>
                <option hidden value="" disabled selected>Please Select</option>
                <option [value]="1" [selected]="1">1</option>
                <option [value]="2" [selected]="2">2</option>
                <option [value]="3" [selected]="3">3</option>
                <option [value]="4" [selected]="4">4</option>
                <option [value]="5" [selected]="5">5</option>
                <option [value]="6" [selected]="6">6</option>
            </select>
        </div>
        <button class="submitbtn" type="submit">Submit</button>
    </form>

</div>
