<div class="login-page">
  <div class="row">
    <div class="login-page__form-area">
      <div
        class="login-page__form-input"
        style="display: flex; justify-content: center; align-items: center;"
      >
        <div *ngIf="isLoginForm" (keyup)="onKeydown($event)">
          <h2
            class="text-center mx-5"
            style="
              margin-left: 0rem;
              font-weight: bold;
              text-align: left;
              font-family: Lato-Bold;
              margin-top: 6%;
            "
          >
           Login
          </h2>
          <div class="login-page__form-group" style="margin-bottom: 15px">
            <div class="pl-1 pb-2">
              Username <span id="red">*</span>

              <input
                type="text"
                autocomplete="off"
                id="username"
                class="pl-2 form-rounded"
                name="username"
                required
                [(ngModel)]="loginData.username"
                placeholder="Username@mail.com"
                (keypress)="FormValidation($event)"
                [readonly]="ShowMsg"
                style="padding-left: 10px;"
              />
              <div *ngIf="ShowMsg">
                <p style="color: red">
                  *Username can not contain special characters
                </p>
              </div>
            </div>
          </div>
          <div class="login-page__form-group">
            <div class="pl-1 pb-2">
              Password <span id="red">*</span>
              <input
                type="password"
                name="password"
                class="pl-2 form-rounded"
                required
                [(ngModel)]="loginData.password"
                placeholder="Password"
                TextMode="MultiLine"
                autocomplete="off"
                style="padding-left: 10px;"
              />
            </div>
          </div>

          <div class="login-page__form-group">
            <div class="pl-1 pb-2">
              Captcha <span id="red">*</span>
              <div class="row">
                <div class="input-group presuffix">
                  <span class="input-group-addon prefix" id="captcha"></span>
                  <input
                    type="text"
                    autocomplete="off"
                    name="captcha"
                    class="pl-2 form-rounded"
                    required
                    [(ngModel)]="loginData.cpatchaTextBox"
                    placeholder="captcha"
                    TextMode="SingleLine"
                    style="padding-left: 10px;"
                  />
                  <span
                    class="input-group-addon suffix"
                    (click)="createCaptcha()"
                    ><mat-icon>refresh</mat-icon></span
                  >
                </div>
              </div>
            </div>

            <div>
              <div class="row">
                <div class="col-md-6 mt-4 text-center">
                  <div class="form-group bg-red">
                    <div class="custom-control custom-checkbox">
                      <mat-checkbox
                        class="text-center"
                        (click)="HandleRemember()"
                        >Remember me!
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt-4 text-center">
                  <h4
                    class="text-center bg-red"
                    (click)="ForgetPasswordClick()"
                    id="pass"
                    style="
                    margin-left: 0rem;
                    font-weight: bold;
                    text-align: left;
                    font-family: Lato-Bold;
                    margin-top: 6%;
                  "
                  >
                    Forgot Password
                  </h4>
                </div>
              </div>
              <div [style.display]="showSpinner ? 'block' : 'none'"></div>
            </div>
            <div class="login-page__form-button">
              <button class="login-page__form-btn" (click)="login()">
                Login
              </button>
            </div>
          </div>
        </div>
        <div class="ForgetPassword" *ngIf="showForgetPassword">
          <h2 class="text-center">Forget Password</h2>
          <form class="forgetPasswordform">
            <div class="form-group">
              <div class="pl-1 pb-2">
                Email <span id="red">*</span>

                <input
                  matInput
                  autocomplete="off"
                  type="text"
                  id="emailormobile"
                  [(ngModel)]="fp.emailormobile"
                  name="emailormobile"
                  class="ng-pristine ng-untouched ng-valid ng-valid-email form-rounded"
                  aria-invalid="false"
                  placeholder="Enter email"
                  style="padding-left: 10px;"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="pl-1 pb-2">
                Captcha <span id="red">*</span>
                <div class="row">
                  <div class="input-group presuffix">
                    <span class="input-group-addon prefix" id="captcha"></span>
                    <input
                      type="text"
                      autocomplete="off"
                      name="captcha"
                      class="pl-2 form-rounded"
                      required
                      [(ngModel)]="fp.cpatchaTextBox"
                      placeholder="captcha"
                      TextMode="SingleLine"
                      style="padding-left: 10px;"
                    />
                    <span
                      class="input-group-addon suffix"
                      (click)="createCaptcha()"
                      ><mat-icon>refresh</mat-icon></span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="login-page__form-button">
              <button class="login-page__form-btn" (click)="ForgetPassword()">
                Send
              </button>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4
                  class="text-center"
                  id="pass"
                  style="cursor: pointer"
                  (click)="BackToLogin()"
                >
                  Back to login
                </h4>
              </div>
            </div>
          </form>
        </div>

        <div class="" *ngIf="showOtp">
          <h2 class="text-center" class="form4"  style="
          margin-left: 0rem;
          font-weight: bold;
          text-align: left;
          font-family: Lato-Bold;
          margin-top: 6%;
        ">OTP</h2>
          <form class="otp1">
            <div class="form-group">
              <mat-label>Enter OTP*</mat-label>
              <input
                matInput
                autocomplete="off"
                type="text"
                id=""
                class="mx-3"
                [(ngModel)]="otp.otp"
                name="otp"
                class="form-rounded pl-4"
                style="padding-left: 10px;"
                
              />
            </div>

            <div class="login-page__form-button">
              <button class="login-page__form-btn" (click)="checkotp()">
                OTP
              </button>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4
                  class="text-center"
                  id="pass"
                  style="cursor: pointer;"
                  (click)="BackToLogin()"
                >
                  Back to login
                </h4>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="showChangepassword" class="form-container">
          <h2 class="text-center form5">Change Password</h2>
          <form [formGroup]="loginForm">
            <div class="form-row mb-4">
              <div class="form-group col-md-12">

                  <input
                    class="form-rounded"
                    matInput
                    autocomplete="off"
                    formControlName="newpassword"
                    type="password"
                    placeholder="New Password"
                    style="padding-left: 10px;"
                    [(ngModel)]="resetpassword.newpassword"
                  />
               

                <div class="error-messages">
                  <ng-container
                    *ngFor="let error of error_messages.newpassword"
                  >
                    <div
                      class="error-message"
                      style="color: red; "
                      *ngIf="
                        loginForm.get('newpassword').hasError(error.type) &&
                        (loginForm.get('newpassword').dirty ||
                          loginForm.get('newpassword').touched)
                      "
                    >
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="form-row mb-4">
              <div class="form-group col-md-12">
             
                  <input
                    class="Changepassword form-rounded"
                    matInput
                    autocomplete="off"
                    formControlName="confirmpassword"
                    [(ngModel)]="resetpassword.confirmpassword"
                    placeholder="Confirm Password"
                    type="password"
                    (paste)="onPaste($event)"
                    style="padding-left: 10px;"
                  />
              
                <div class="error-messages" >
                  <ng-container
                    *ngFor="let error of error_messages.confirmpassword"
                  >
                    <div
                      class="error-message"
                      style="color: red"
                      *ngIf="
                        loginForm.get('confirmpassword').hasError(error.type) &&
                        (loginForm.get('confirmpassword').dirty ||
                          loginForm.get('confirmpassword').touched)
                      "
                    >
                      {{ error.message }}
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12 login-page__form-button">
                <button
                  class="login-page__form-btn"
                  type="submit"
                  (click)="changepasswordFN()"
                  [disabled]="!loginForm.valid"
                >
                  Update Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="login-page">
  <div class="login-page__login-area">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 mt-4">
        <div class="login-page__form-area">
          <div class="login-page__form-input" style="background-color: aquamarine;">
            <div *ngIf="isLoginForm" (keyup)="onKeydown($event)">
              <h2 class="text-center mx-5" style="margin-left: 0rem; font-weight: bold; text-align: left; font-family: Lato-Bold; margin-top: 6%;">Login</h2>
              <div class="login-page__form-group" style="margin-bottom: 15px">
                <div class="pl-1 pb-2">
                  Username <span id="red">*</span>
                  <input type="text" autocomplete="off" id="username" class="pl-2 form-rounded" name="username" required [(ngModel)]="loginData.username" placeholder="Username@mail.com" (keypress)="FormValidation($event)" [readonly]="ShowMsg" />
                  <div *ngIf="ShowMsg">
                    <p style="color: red">*Username cannot contain special characters</p>
                  </div>
                </div>
              </div>
              <div class="login-page__form-group">
                <div class="pl-1 pb-2">
                  Password <span id="red">*</span>
                  <input type="password" name="password" class="pl-2 form-rounded" required [(ngModel)]="loginData.password" placeholder="Password" TextMode="MultiLine" autocomplete="off" />
                </div>
              </div>
              <div class="login-page__form-group">
                <div class="pl-1 pb-2">
                  Captcha <span id="red">*</span>
                  <div class="row">
                    <div class="input-group presuffix">
                      <span
                        class="input-group-addon prefix"
                        id="captcha"
                      ></span>
                      <input
                        type="text"
                        autocomplete="off"
                        name="captcha"
                        class="pl-2 form-rounded"
                        required
                        [(ngModel)]="loginData.cpatchaTextBox"
                        placeholder="captcha"
                        TextMode="SingleLine"
                      />
                      <span
                        class="input-group-addon suffix"
                        (click)="createCaptcha()"
                        ><mat-icon>refresh</mat-icon></span
                      >
                    </div>
                  </div>
                </div>

                <div>
                  <div class="row">
                    <div class="col-md-6 mt-3 text-center">
                      <div class="form-group bg-red">
                        <div class="custom-control custom-checkbox">

                          <mat-checkbox
                          class="text-center"
                          (click)="HandleRemember()"
                          >Remember me!
                        </mat-checkbox>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mt-4">
                      <h4
                        class="text-center bg-red"
                        (click)="ForgetPasswordClick()"
                        id="pass"
                      >
                        Forgot Password
                      </h4>
                    </div>
                  </div>
                  <div [style.display]="showSpinner ? 'block' : 'none'"></div>
                </div>
                <div class="login-page__form-button">
                  <button class="login-page__form-btn" (click)="login()">
                    Login
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
