<div id='loaderprogressbar' *ngIf="db.loaderprogressbar">
    <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  </div>
  <div class="auth-page">
    <div class="auth-page__content-block">
        <div class="auth-page__content-wrapper">
            <img class="auth-page__logo-svg" src="../../assets/logo.svg">
            <router-outlet></router-outlet>
            <p class="auth-page__footer-title">&copy; Passive Referral</p>
        </div>
    </div>
    <div class="auth-page__logo">
        <div class="auth-page__logo-wrapper">
            <h6 class="auth-page__logo-title" appTyping="Experience the Future of  RECRUITMENTS."></h6>
  
            <img class="auth-page__logo-img" src="../../assets/Asset 1 1.svg" alt="logo">
  
        </div>
    </div>
  </div>