<div class="container">



    <div class="row mt-2">
      <div *ngFor="let intent of allintent"  [ngClass]="grid ? 'col-6' : 'col-12'">
        <div class="container" style="border-radius: 25px;">
          <div class="row border mt-4 " style="background-color:#f8f9fa;  ">
            <div class="col-md-12 border-bottom pt-3" style="background-color:#ebe3f8">
  
              <mat-form-field appearance="outline">
                <mat-label>Intent Name</mat-label>
                <mat-select matNativeControl id="action" name="action" [(ngModel)]="intent.intent">
                  <mat-option [value]="intent.intent">
                    {{intent.intent}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
              <mat-form-field>
                <mat-label style="font-weight: bolder;">Display Name:</mat-label>
                <input name="response" matInput [(ngModel)]="intent.display_name">
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
              <mat-form-field *ngIf="intent.intent_response" appearance="outline">
                <mat-label>intent response:</mat-label>
                <input name="response" matInput [(ngModel)]="intent.intent_response">
              </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
              <mat-form-field>
                <mat-label>use IN</mat-label>
                <input name="response" matInput [(ngModel)]="intent.usein" disabled>
              </mat-form-field>
            </div>
  
  
            <div class="col-md-12 mt-3 mb-3">
              <button mat-mini-fab color="accent" class="action-button" aria-label="add">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <button (click)="onclickIntent()">Save</button>