<div class="main-content mt-5" *ngIf="db.profile.id==438 || db.profile.id==439">
    <div class="container-fluid"style="margin-top:-1rem;">
      <Button class="btn btn-primary" (click)="showhide() || back();"> Add Agency</Button>
  
      <div class="width100percent">
        <div class="col-md-12">
  
  
          <div class="card" *ngIf="ishideshow">
            <div class="card-header card-header ">
              <h6 class="card-title" style="font-weight: bold;">Agency Detail</h6>
              <p class="card-category"><span *ngIf="!isEdit">Add </span> <span *ngIf="isEdit"> Edit</span> Agency</p>
            </div>
            <div class="row" id="trackermaster">
  
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Agency Name:</mat-label>
                  <input type="text" autocomplete="off"  matInput [(ngModel)]="agency.agency_name" (keyup)="agencynamesuggestion(event)"
                    [matAutocomplete]="agencyName">
                  <mat-autocomplete #agencyName="matAutocomplete">
                    <mat-option *ngFor="let name of agency_name" [value]="name">
                      {{name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
  
              <div class="form-group col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Location:</mat-label>
                  <!-- <input type="text" autocomplete="off"  matInput [(ngModel)]="agency.preferred_location"
                    (keyup)="agencylocationsuggestion($event)" [matAutocomplete]="agencyLocation">
                  <mat-autocomplete #agencyLocation="matAutocomplete">
                    <mat-option *ngFor="let location of agency_location" [value]="location">
                      {{location}}
                    </mat-option>
                  </mat-autocomplete> -->
                  <mat-select matInput [(ngModel)]="agency.preferred_location">
                    <mat-option *ngFor="let location of agency_location" [value]="location">{{location}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="form-group col-md-4">
                &nbsp; &nbsp;<button type="submit" class="btn  btn-raised btn-outline-primary validate"
                  tar="#trackermaster" *ngIf="!isEdit" (click)="newagencysave()">Save</button>
                &nbsp; <button type="button" class="btn  btn-raised btn-outline-primary" tar="#channel" *ngIf="isEdit"
                  (click)="agencyupdate()">Update</button>
                &nbsp; <button type="button" class="btn  btn-raised btn-outline-primary" tar="#channel" *ngIf="isEdit"
                  (click)="back()">New Deatil</button>
              </div>
            </div>
  
          </div>
  
  
          <div class="card">
            <!-- <ag-grid-angular style="height: 500px;" class="ag-theme-material" [rowData]="rowData"
              [columnDefs]="columnDefs" suppressCsvExport=false [suppressRowClickSelection]="true"
              [groupSelectsChildren]="true" paginationAutoPageSize='true' (selectionChanged)="onSelectionChanged($event)"
              [debug]="true" [enableRangeSelection]="true" [pagination]="true" (gridReady)="onGridReady($event)"
              (rowClicked)="onRowClicked($event)"></ag-grid-angular> -->
          </div>
  
        </div>
      </div>
    </div>
  </div>
  
  