@import "~@fortawesome/fontawesome-free/css/all.min.css";

.header {
  background-color: #f4f4f4; /* Adjust the background color as needed */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Provides subtle shadow */
}

.profile-section {
  display: flex;
  align-items: center;
}

.profile-icon {
  background-color: #8247e5; 
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; 
  margin-right: 8px;
}

.profile-info h2 {
  font-size: 1.5em;
  margin: 0;
  color: #333; /* Adjust text color as needed */
}

.team-score {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  margin-top: 4px; /* Align with the profile name */
}

.team-score .score {
  background-color: #d4e157; /* Badge background color */
  border-radius: 4px;
  padding: 3px 6px;
  color: #333; /* Text color for score */
  margin-right: 6px;
}

.team-score .label {
  color: #777; /* Text color for the label */
}

.star-icon {
  color: #ffd700; /* Star color */
  font-size: 1.5em; /* Star size */
  margin-left: auto; /* Pushes the star to the right */
}

.header-actions {
  display: flex;
  align-items: center;
}

.action-button {
  background-color: #e0e0e0; /* Button background color */
  border: none;
  padding: 6px 12px;
  margin: 0 4px;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s;
}

.action-button.special {
  background-color: #2196f3; /* Special button color */
  color: white;
}

.action-button.icon-close {
  background-color: transparent; /* Special styling for the close button */
  color: #333;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  /* display: none; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu */
.show {display: block;}