<div class="main-content">
    <div class="container-fluid">
        <div class="row" id='showProfile' *ngIf="showProfile">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button class="btn btn-danger float-right" style="margin-top: 4px;" (click)="passwordchange()">Change
                    Password</button>
                <div class="card ">
                    <div class="card-header card-header-success  "style="background-color:silver;">
                        <h6 class="card-title">Edit Profile</h6>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">

                        <div class="row">

                            <div class="form-group col-md-6">

                                <label for="inputEmail" class="col-sm-4 control-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" id="inputName" [(ngModel)]="profile.name"
                                        placeholder="Name"required>
                                </div>
                                <br>
                                <label for="inputExperience" class="col-sm-4 control-label">Mobile:</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" id="inputName1"
                                        [(ngModel)]="profile.mobileNo" placeholder="Mobile">
                                </div>
                                <br>
                                <label class="col-sm-4 control-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" [(ngModel)]="profile.address"
                                        placeholder="Address">
                                </div>
                                <br>

                                <label class="col-sm-4 control-label">Server Name</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" [(ngModel)]="profile.outgoing_server"
                                        placeholder="Outgoing Server">
                                </div>
                                <br>
                                <label for="d" class="col-sm-4 control-label">Ssl</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" [(ngModel)]="profile.ssl_details"
                                        placeholder="Ssl">
                                </div>
                            </div>


                            <div class="form-group col-md-6">

                                <label for="inputName" class="col-sm-4 control-label">Email:</label>
                                <div class="col-sm-9">
                                    <input type="email" disabled="" class="form-control" id="inputName2"
                                        [(ngModel)]="profile.email" placeholder="Email">
                                </div>
                                <br>
                                <label for="inputExperience" class="col-sm-4 control-label">Phone:</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" id="inputName3" [(ngModel)]="profile.phoneNo"
                                        placeholder="Mobile">
                                </div>
                                <br>
                                <label class="col-sm-4 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" [(ngModel)]="profile.mailpassword"
                                        placeholder="Email Password">
                                </div>
                                <br>
                                <label class="col-sm-4 control-label">Port</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" [(ngModel)]="profile.port"
                                        placeholder="port">
                                </div>
                                <br>
                                <label for="d" class="col-sm-4 control-label">Mail Driver</label>
                                <div class="col-sm-9">
                                    <input type="text" autocomplete="off"  class="form-control" [(ngModel)]="profile.driver"
                                        placeholder="Mail Driver">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn  btn-raised btn-primary mt-1"
                                        (click)="profileupdate()">Update</button>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <!-- <div class="form-horizontal">

                                                    <div class="form-group">



                                                        <div class="col-sm-8">
                                                            <label for="inputEmail" class="col-sm-4 control-label">Name</label>
                                                            <input type="text" autocomplete="off"  class="form-control" id="inputName"   [(ngModel)]="profile.name" placeholder="Name">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="fileupload" class="col-sm-4 control-label">Profile Image</label>

                                                        <div class="col-sm-8">
                                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputName" class="col-sm-4 control-label">Email:</label>

                                                        <div class="col-sm-8">
                                                            <input type="email" disabled="" class="form-control" id="inputName" [(ngModel)]="profile.email" placeholder="Email">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputExperience" class="col-sm-4 control-label">Mobile:</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control" id="inputName" [(ngModel)]="profile.mobileNo" placeholder="Mobile">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputExperience" class="col-sm-4 control-label">Phone:</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control" id="inputName" [(ngModel)]="profile.phoneNo" placeholder="Mobile">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label  class="col-sm-4 control-label">Address</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control"  [(ngModel)]="profile.address" placeholder="Address">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label  class="col-sm-4 control-label">Email Password</label>

                                                        <div class="col-sm-8">
                                                            <input type="password" class="form-control"  [(ngModel)]="profile.mailpassword" placeholder="Email Password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group hidden">
                                                        <label  class="col-sm-4 control-label">Server Name</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control"  [(ngModel)]="profile.outgoing_server" placeholder="Outgoing Server">
                                                        </div>
                                                    </div>
                                                    <div class="form-group hidden">
                                                        <label  class="col-sm-4 control-label">Port</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control"  [(ngModel)]="profile.port" placeholder="port">
                                                        </div>
                                                    </div>
                                                    <div class="form-group hidden">
                                                        <label for="d" class="col-sm-4 control-label">Ssl</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control"  [(ngModel)]="profile.ssl_details" placeholder="Ssl">
                                                        </div>
                                                    </div>
                                                    <div class="form-group hidden" >
                                                        <label for="d" class="col-sm-4 control-label">Mail Driver</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" autocomplete="off"  class="form-control"  [(ngModel)]="db.profile.driver" placeholder="Mail Driver">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-4 col-sm-8">
                                                            <button type="submit" class="btn  btn-raised btn-danger"  (click)="profileupdate()">Update</button>
                                                        </div>
                                                    </div>
                                                  </div> -->
                                <div class="box box-primary">
                                    <div class="box-body">
                                        <!-- <ul class="nav nav-tabs">
                                              <li class="active" ><a href="" (click)="ProfileTabs(0)" data-toggle="tab">Update Profile<i class="fa"></i></a></li>
                                              <li><a href=""   (click)="ProfileTabs(1)" data-toggle="tab">Password Change<i class="fa"></i></a></li>
                                          </ul><br> -->
                                        <div class="box-title">


                                            <div class="tab-content">
                                                <div class="tab-pane active" id="info-tab">


                                                </div>

                                                <div ng-show="tabindex == 1" ng-hide="tabindex != 1"
                                                    class="tab-pane active" id="address-tab">


                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button> -->
                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row" id='showChangePassword' *ngIf="showChangePassword">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button class="btn btn-success float-right" style="margin-top: 5px;" (click)="editprofile()">Edit
                    Profile</button>
                <div class="card mt-1">
                    <div class="card-header card-header-danger">
                        <h6 class="card-title">Change password</h6>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <!-- <div class="form-horizontal row">

                        <div class="form-group col-md-6">
                            <br>
                            <label for="inputName"  class="col-sm-4 control-label" style="color: black;">Current Password</label>
                            <div class="col-sm-8">
                                <input type="password" [(ngModel)]="changepassword.password" class="form-control" id="inputName_ss">
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <br>
                            <label for="inputEmail" class="col-sm-4 control-label" style="color: black;">New Password</label>

                            <div class="col-sm-8">
                                <input type="password" [(ngModel)]="changepassword.newpassword" class="form-control" id="inputName_ssss">


                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" (click)="changepasswordfun()" class="btn  btn-raised btn-info"  >Password Update</button>
                            </div>
                        </div>
                      </div> -->

                    <form [formGroup]="loginForm" class="form-horizontal row">
                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Current Password</mat-label>
                                <input matInput autocomplete="off" type="password" formControlName="cpassword"
                                    [(ngModel)]="changepassword.password" class="form-control" id="inputName_ss">
                            </mat-form-field>
                            <div class="error-messages">
                                <ng-container *ngFor="let error of errorMessages.cpassword">
                                    <div class="error-message" style="color: red;"
                                        *ngIf="loginForm.get('cpassword').hasError(error.type) && (loginForm.get('cpassword').dirty || loginForm.get('cpassword').touched)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>New Password</mat-label>
                                <input matInput autocomplete="off" class="form-control" formControlName="newpassword" type="password"
                                    [(ngModel)]="changepassword.newpassword" />
                            </mat-form-field>
                            <app-password-strength-bar [passwordToCheck]="changepassword.newpassword"
                                [barLabel]="barLabel">
                            </app-password-strength-bar>
                            <div class="error-messages">
                                <ng-container *ngFor="let error of errorMessages.newpassword">
                                    <div class="error-message" style="color: red;"
                                        *ngIf="loginForm.get('newpassword').hasError(error.type) && (loginForm.get('newpassword').dirty || loginForm.get('newpassword').touched)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Confirm Password</mat-label>
                                <input matInput autocomplete="off" class="form-control" formControlName="confirmpassword"
                                    [(ngModel)]="changepassword.confirmpassword" type="password" />
                            </mat-form-field>
                            <app-password-strength-bar [passwordToCheck]="changepassword.confirmpassword"
                                [barLabel]="barLabel">
                            </app-password-strength-bar>

                            <div class="error-messages">
                                <ng-container *ngFor="let error of errorMessages.confirmpassword">
                                    <div class="error-message" style="color: red;"
                                        *ngIf="loginForm.get('confirmpassword').hasError(error.type) && (loginForm.get('confirmpassword').dirty || loginForm.get('confirmpassword').touched)">
                                        {{ error.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" (click)="changepasswordfun()" [disabled]="!loginForm.valid" class="btn  btn-raised btn-primary mt-1"  >Password Update</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-md-1">
            </div>
            <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" [src]="db.profile.profilepic"  />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h6 class="card-title">{{db.profile.name}}</h6>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
        </div>
    </div>
</div>
