.circle {
  animation: progress 2s ease-out forwards;
}

.legend-style {
 display: flex;
 justify-content: center;
 align-items: center;
}

.chart-title {
 color: #888888;
 font-family: "Open Sans";
 text-align:center;
}

.total-display{
 font-family:"Oxygen-Bold, Oxygen";
 font-weight:bold;
}

.legend-box {
  height: 1.75rem;
 width: 1rem;
 text-align: center;
 padding: 0;
}

.legend-text {
 height: 1.375rem;
 width: 2.75rem;
 color: #FFFFFF;
 font-weight: bold;
}

.legend-labelbox {
 height: 1.1875rem;	width: 2.875rem;	color: #333333;
}

.legend-value {
 height: 1.125rem;	width: 2.25rem;	color: #9B9B9B;
}


@keyframes progress {
 0% {
   stroke-dasharray: 0 100;
 }
}







.btn{
  margin: 50px;
  text-align: center;
}

.mybtn{
        border-radius:3px;
        text-decoration:none;
        font-family:sans-serif;
        font-size:20px;
        padding: 10px 20px;
        background-color:#00ad25;
        color:#fff;
        transition-delay:.2s;
        transition:.3s;
        font-variant-caps:all-small-caps;
        box-shadow:4px 3px 11px 0 #00ad25;
        }
.mybtn:hover{
        background-color:#009420;
        box-shadow:4px 3px 11px 0 #005a13;
        }
