<div class="header" *ngIf="journeyType === 'Customize' || journeyType === ''">
  <a href="#" class="back-arrow">
    <a href="#" class="back-button"><i class="fa-solid fa-arrow-left"></i></a
  ></a>
  <h1 class="title">Build Cycle</h1>
  <button class="btn outlined">Add Interview Round</button>
  <button class="btn filled" (click)="PostData()">Save</button>
</div>

<!-- Showing Data start -->
<div class="container">
  <div class="section" *ngFor="let round of roundData; let i = index">
    <!-- One on one -->
    <div *ngIf="round.interview_type === 'One on one'">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <input placeholder="{{ round.interview_type }}" readonly />
        </div>
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <input placeholder="{{ round.campaign_type }}" />
          <!-- <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="driveBot">Campaign 1</option>
            <option value="driveBot">Campaign 2</option>
            <option value="driveBot">Campaign 3</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <input placeholder="{{ round.campaign_variant }}" readonly />
          <!-- <select
            [(ngModel)]="round.campaignVarient"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="Varient1">Varient 1</option>
            <option value="Varient2">Varient 2</option>
            <option value="Varient3">Varient 3</option>
          </select> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <input placeholder="{{ round.campaign_segment }}" readonly />
          <!-- <select [(ngModel)]="round.campaignSegment" id="campaign" class="bg_color" name="campaign">
            <option value="" disabled selected>Select Segment</option>
            <option value="Segment1">Segment 1</option>
            <option value="Segment2">Segment 2</option>
          </select> -->
        </div>

        <div class="form-group">
          <div
            class="form-group"
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 4px;
            "
          >
            <label for="botType" style="margin-right: 30px">Location*</label>
            <div style="margin-left: 36px">
              <input type="checkbox" id="markAsOnline" />
              <label for="markAsOnline" style="margin-top: 4px"
                >Mark as Online</label
              >
            </div>
          </div>
          <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Location</option>
            <option value="Delhi">Delhi</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Banglore">Banglore</option>
            <option value="Chandigarh">Chandigarh</option>
          </select>
        </div>

        <div class="form-group">
          <label for="botVariant">Hiring Manager*</label>
          <input placeholder="{{ round.hiring_manager_name }}" readonly />
          <!-- <select id="botVariant" class="bg_color" name="botVariant">
            <option value="" disabled selected>Select Hiring Manager</option>
            <option value="Manoj Bisht">Manoj Bisht</option>
            <option value="Arvind Chaudhary">Arvind Chaudhary</option>
            <option value="Preeti Singh">Preeti Singh</option>
          </select> -->
        </div>
      </div>
    </div>

    <!-- Third Party Integration -->
    <div *ngIf="round.interview_type === 'Third party integration'">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <input placeholder="{{ round.interview_type }}" readonly />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="botType">Integration Type*</label>
          <input placeholder="{{ round.integration_type }}" readonly />
          <!-- <select
            [(ngModel)]="round.integration_type"
            id="botType "
            class="bg_color"
            name="botType"
          >
            <option value="" disabled selected>Select Bot Type</option>
            <option value="HackerRank">Hacker Rank</option>
            <option value="GFG">GFG</option>
            <option value="CodeChef">CodeChef</option>
            <option value="HackerEarth">Hacker earth</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="botVariant">Test Type*</label>
          <input placeholder="{{ round.test_type }}" readonly />
          <!-- <select
            [(ngModel)]="round.testType"
            id="botVariant"
            class="bg_color"
            name="botVariant"
            [disabled]="!round.integrationType"
          >
            <option value="" disabled selected>Select Test Type</option>
            <option *ngFor="let testType of testTypes" [value]="testType">
              {{ testType }}
            </option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="botType">Qualifying Criteria*</label>
          <input placeholder="{{ round.qualifying_criteria }}" readonly />
          <!-- <select
            [(ngModel)]="round.qualifyingCriteria"
            id="botType "
            class="bg_color"
            name="botType"
            [disabled]="!round.testType"
          >
            <option value="">Select qualifying Criteria</option>
            <option value="1">>1</option>
            <option value="2">>2</option>
            <option value="3">>3</option>
            <option value="4">>4</option>
            <option value="5">>5</option>
          </select> -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <input placeholder="{{ round.campaign_type }}" readonly />
          <!-- <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="driveBot">Campaign 1</option>
            <option value="driveBot">Campaign 2</option>
            <option value="driveBot">Campaign 3</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <input placeholder="{{ round.campaign_variant }}" readonly />
          <!-- <select
            [(ngModel)]="round.time"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="">Varient 1</option>
            <option value="">Varient 2</option>
            <option value="driveBot">Varient 3</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <input placeholder="{{ round.campaign_segment }}" readonly />
          <!-- <select
            [(ngModel)]="round.campaign"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Campaign 1">Segment 1</option>
            <option value="Campaign 2">Segment 2</option>
          </select> -->
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Close link within*</label>
          <input placeholder="{{ round.close_link_within }}" readonly />
          <!-- <select
            [(ngModel)]="round.interviewWithin"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select time</option>
            <option value="24 hours">24 hours</option>
            <option value="48 hours">48 hours</option>
            <option value="72 hours">72 hours</option>
          </select> -->
        </div>
      </div>
    </div>

    <!-- Bot Call -->

    <div *ngIf="round.interview_type === 'Bot Call'">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <input placeholder="{{ round.interview_type }}" readonly />
        </div>
        <div class="form-group">
          <label for="botType">Bot Type*</label>
          <input placeholder="{{ round.bot_type }}" readonly />
          <!-- <select
            [(ngModel)]="round.botType"
            id="botType "
            class="bg_color"
            name="botType"
          >
            <option value="">Select Bot Type</option>
            <option value="driveBot">Drive Bot</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="botVariant">Bot Variant*</label>
          <input placeholder="{{ round.bot_variant }}" readonly />
          <!-- <select
            [(ngModel)]="round.botVariant"
            id="botVariant"
            class="bg_color"
            name="botVariant"
          >
            <option value="" disabled selected>Bot Variant</option>
            <option>
              
            </option>
          </select> -->
        </div>
      </div>
      <div class="form-row" style="display: flex">
        <div class="form-group" style="flex: 1">
          <label for="campaign">Bot Segment*</label>
          <input placeholder="{{ round.bot_segment }}" readonly />
          <!-- <select
            id="campaign"
            class="bg_color"
            style="width: 250px"
            name="campaign"
            [(ngModel)]="round.botSegment"
          >
            <option value="" disabled selected>select Bot Segment</option>
            <option value="">Bot 1</option>
            <option value="driveBot">Bot 2</option>
          </select> -->
        </div>

        <!-- commeted to run -->

        <!-- <mat-form-field
          class="example-chip-list"
          style="background-color: white"
        >
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            <mat-chip-row
              *ngFor="let fruit of Skills; let i = index"
              (removed)="remove(fruit)"
              [editable]="true"
              (edited)="edit(fruit, $event)"
              [aria-description]="'press enter to edit ' + fruit.name"
              style="margin-top: -8px"
            >
              {{ fruit.name }}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="Skills..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              style="margin-bottom: 16px"
            />
          </mat-chip-grid>
        </mat-form-field> -->

        <!-- commented to run -->
      </div>
      <div class="form-row">
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <input placeholder="{{ round.campaign_type }}" readonly />
          <!-- <select id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="driveBot">Campaign 1</option>
            <option value="driveBot">Campaign 2</option>
            <option value="driveBot">Campaign 3</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <input placeholder="{{ round.campaign_variant }}" readonly />
          <!-- <select
            [(ngModel)]="round.time"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="">Varient 1</option>
            <option value="">Varient 2</option>
            <option value="driveBot">Varient 3</option>
          </select> -->
        </div>

        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <input placeholder="{{ round.campaign_segment }}" readonly />
          <!-- <select
            [(ngModel)]="round.campaign"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Campaign 1">Segment 1</option>
            <option value="Campaign 2">Segment 2</option>
          </select> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Showing Data end -->

<!-- New Round Data start -->
<!-- <div *ngIf="journeyType === 'Customize' || journeyType === ''">
  <div *ngFor="let round of roundData; let i = index" class="container">
    <div class="section">
      <div
        class="section-header"
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div style="display: flex; flex-direction: row">
          <i
            class="fas fa-check-circle"
            style="color: #23cd5e; margin-right: 5px; margin-top: 8px"
          ></i>
          <h2 class="section-title">{{ i + 1 }} Round of Interview</h2>
        </div>
        <div *ngIf="i !== 0">
          <div class="col-sm-12 w-100" style="border-radius: 4px">
            <mat-button-toggle-group
              class="w-100"
              name="fontStyle"
              aria-label="Font Style"
            >
              <mat-button-toggle
                class="w-100"
                value="Immediety"
                (click)="tabToggle('immediate')"
                >immediately
              </mat-button-toggle>
              <mat-button-toggle
                class="w-100"
                value="Time"
                (click)="tabToggle('interval')"
                >at a relative time period</mat-button-toggle
              >
            </mat-button-toggle-group>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 0px" *ngIf="showTab">
          <select
            [(ngModel)]="round.interview_type"
            (ngModelChange)="updateInterviewType(round.interview_round_no, $event)"
            (ngModelChange)="onInterviewTypeChange($event)"
            id="campaign"
            class="bg_color"
            name="interviewType"
          >
            <option value="" disabled selected>
              Select Time to trigger this round
            </option>
            <option value="24h">24h</option>
            <option value="48h">48h</option>
            <option value="72h">72h</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="campaign">Interview Type*</label>
          <select
            [(ngModel)]="round.interview_type"
            (ngModelChange)="updateInterviewType(round.interview_round_no, $event)"
            (ngModelChange)="onInterviewTypeChange($event)"
            id="campaign"
            class="bg_color"
            name="interviewType"
          >
            <option value="Bot Call">Bot Call</option>
            <option value="One on one">One on one</option>
            <option value="Third party integration">
              Third Party integration
            </option>
          </select>
        </div>
        <div class="form-group" *ngIf="round.interview_type === 'Bot Call'">
          <label for="botType">Bot Type*</label>
          <select
            [(ngModel)]="round.bot_type"
            id="botType "
            class="bg_color"
            name="botType"
          >
            <option value="">Select Bot Type</option>
            <option value="driveBot">Drive Bot</option>
          </select>
        </div>

        <div class="form-group" *ngIf="round.interview_type === 'Bot Call'">
          <label for="botVariant">Bot Variant*</label>
          <select
            [(ngModel)]="round.bot_variant"
            id="botVariant"
            class="bg_color"
            name="botVariant"
          >
            <option value="" disabled selected>Bot Variant</option>
            <option *ngFor="let bot of botVariantArray" [value]="bot">
              {{ bot }}
            </option>
          </select>
        </div>
        <div
          *ngIf="round.interview_type === 'One on one'"
          class="form-group time-input-container"
        >
          <label for="time">Campaign Type*</label>
          <select [(ngModel)]="round.campaign_type" id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="Type1">Campaign 1</option>
            <option value="Type2">Campaign 2</option>
            <option value="Type3">Campaign 3</option>
          </select>
        </div>
        <div *ngIf="round.interview_type === 'One on one'" class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <select
            [(ngModel)]="round.campaign_variant"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="Varient1">Varient 1</option>
            <option value="Varient2">Varient 2</option>
            <option value="Varient3">Varient 3</option>
          </select>
        </div>
        <!-- <div
        *ngIf="round.interviewType === 'One on one'"
        class="form-group time-input-container"
      >
        <label for="time">Date*</label>
        <input
          [(ngModel)]="round.date"
          class="bg_color"
          type="date"
          id="date"
          name="date"
        />
      </div>
      </div>
      <div
        class="form-row"
        style="display: flex"
        *ngIf="round.interview_type === 'Bot Call'"
      >
        <div class="form-group" style="flex: 1">
          <label for="campaign">Bot Segment*</label>
          <select
            id="campaign"
            class="bg_color"
            style="width: 250px"
            name="campaign"
            [(ngModel)]="round.bot_segment"
          >
            <option value="" disabled selected>select Bot Segment</option>
            <option value="">Bot 1</option>
            <option value="driveBot">Bot 2</option>
          </select>
        </div>
        <mat-form-field
          class="example-chip-list"
          style="background-color: white"
        >
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            <mat-chip-row
              *ngFor="let fruit of Skills; let i = index"
              (removed)="remove(fruit)"
              [editable]="true"
              (edited)="edit(fruit, $event)"
              [aria-description]="'press enter to edit ' + fruit.name"
              style="margin-top: -8px"
            >
              {{ fruit.name }}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="Skills..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
              style="margin-bottom: 16px"
            />
          </mat-chip-grid>
        </mat-form-field>
      </div>
      <div class="form-row" *ngIf="round.interview_type === 'Bot Call'">
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <select [(ngModel)]="round.campaign_type" id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="Type1">Campaign 1</option>
            <option value="Type2">Campaign 2</option>
            <option value="Type3">Campaign 3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <select
            [(ngModel)]="round.campaign_variant"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="Varient1">Varient 1</option>
            <option value="Varient2">Varient 2</option>
            <option value="Varient3">Varient 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <select
            [(ngModel)]="round.campaign_segment"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Segment1">Segment 1</option>
            <option value="Segment2">Segment 2</option>
          </select>
        </div>
      </div>
      <div class="form-row" *ngIf="round.interview_type === 'Bot Call'">
        <div class="form-group">
          <label for="campaign">Bot Language*</label>
          <select
            [(ngModel)]="round.bot_language"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
            <option value="Punjabi">Punjabi</option>
          </select>
        </div>
      </div>

      // For One on One

      <div class="form-row" *ngIf="round.interview_type === 'One on one'">
        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <select
            [(ngModel)]="round.campaign_segment"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Segment1">Segment 1</option>
            <option value="Segment2">Segment 2</option>
          </select>
        </div>

        <div class="form-group">
          <label for="botVariant">Hiring Manager*</label>
          <select
            [(ngModel)]="round.hiring_manager_name"
            id="botVariant"
            class="bg_color"
            name="botVariant"
          >
            <option value="" disabled selected>Select Hiring Manager</option>
            <option value="Manoj Bisht">Manoj Bisht</option>
            <option value="Arvind Chaudhary">Arvind Chaudhary</option>
            <option value="Preeti Singh">Preeti Singh</option>
          </select>
        </div>

        <div class="form-group">
          <div
            class="form-group"
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 4px;
            "
          >
            <label for="botType" style="margin-right: 30px">state*</label>
            <div style="margin-left: 36px">
              <input
                type="checkbox"
                id="markAsOnline"
                (change)="toggleMarkAsOnline($event)"
              />
              <label for="markAsOnline" style="margin-top: 4px"
                >Mark as Online</label
              >
            </div>
          </div>
          <select
            [(ngModel)]="round.state"
            id="botType "
            class="bg_color"
            name="botType"
            [disabled]="markAsOnline"
          >
            <option value="" disabled selected>Select State</option>
            <option value="Delhi">Delhi</option>
            <option value="punjab">punjab</option>
            <option value="utter pradesh">utter pradesh</option>
            <option value="himachal">himachal</option>
          </select>
        </div>
      </div>

      <div class="form-row" *ngIf="round.interview_type === 'One on one'">
        <div class="form-group">
          <label for="botType">city*</label>
          <select
            [(ngModel)]="round.city"
            id="botType "
            class="bg_color"
            name="botType"
            [disabled]="markAsOnline"
            (ngModelChange)="
              onIntegrationTypeChange('integrationType', round.integration_type)
            "
          >
            <option value="" disabled selected>Select Bot Type</option>
            <option value="New Delhi">New Delhi</option>
            <option value="Mumbai">Mumbai</option>
            <option value="Calicut">calicut</option>
            <option value="Amritser">Amritser</option>
          </select>
        </div>   
        <div class="form-group">
          <label for="botType">Address1*</label>
          <input [disabled]="markAsOnline" [(ngModel)]="round.address1" placeholder="Address1" />
        </div>  
        <div class="form-group">
          <label for="botType">Address2*</label>
          <input [disabled]="markAsOnline" [(ngModel)]="round.address2" placeholder="Address2" />
        </div>  
      </div>

      //Third party integration 

      <div
        class="form-row"
        *ngIf="round.interview_type === 'Third party integration'"
      >
        <div class="form-group">
          <label for="botType">Integration Type*</label>
          <select
            [(ngModel)]="round.integration_type"
            id="botType "
            class="bg_color"
            name="botType"
            (ngModelChange)="
              onIntegrationTypeChange('integrationType', round.integration_type)
            "
          >
            <option value="" disabled selected>Select Bot Type</option>
            <option value="HackerRank">Hacker Rank</option>
            <option value="GFG">GFG</option>
            <option value="CodeChef">CodeChef</option>
            <option value="HackerEarth">Hacker earth</option>
          </select>
        </div>

        <div class="form-group">
          <label for="botVariant">Test Type*</label>
          <select
            [(ngModel)]="round.test_type"
            id="botVariant"
            class="bg_color"
            name="botVariant"
            [disabled]="!round.integration_type"
          >
            <option value="" disabled selected>Select Test Type</option>
            <option *ngFor="let testType of testTypes" [value]="testType">
              {{ testType }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="botType">Qualifying Criteria*</label>
          <select
            [(ngModel)]="round.qualifying_criteria"
            id="botType "
            class="bg_color"
            name="botType"
            [disabled]="!round.test_type"
          >
            <option value="">Select qualifying Criteria</option>
            <option value="1">>1</option>
            <option value="2">>2</option>
            <option value="3">>3</option>
            <option value="4">>4</option>
            <option value="5">>5</option>
          </select>
        </div>
      </div>

      <div
        class="form-row"
        *ngIf="round.interview_type === 'Third party integration'"
      >
        <div class="form-group time-input-container">
          <label for="time">Campaign Type*</label>
          <select [(ngModel)]="round.campaign_type" id="botType " class="bg_color" name="botType">
            <option value="" disabled selected>Select Campaign Type</option>
            <option value="Campaign1">Campaign 1</option>
            <option value="Campaign2">Campaign 2</option>
            <option value="Campaign3">Campaign 3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="campaign2">Campaign Varient*</label>
          <select
            [(ngModel)]="round.campaign_variant"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="" disabled selected>Select Campaign Varient</option>
            <option value="Varient1">Varient 1</option>
            <option value="Varient2">Varient 2</option>
            <option value="Varient3">Varient 3</option>
          </select>
        </div>

        <div class="form-group">
          <label for="campaign">Campaign Segment*</label>
          <select
            [(ngModel)]="round.campaign_segment"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select Segment</option>
            <option value="Segment1">Segment 1</option>
            <option value="Segment2">Segment 2</option>
          </select>
        </div>
      </div>

      <div
        class="form-row"
        *ngIf="round.interview_type === 'Third party integration'"
      >
        <div class="form-group">
          <label for="campaign">Close link within*</label>
          <select
            [(ngModel)]="round.close_link_within"
            id="campaign"
            class="bg_color"
            name="campaign"
          >
            <option value="" disabled selected>Select time</option>
            <option value="24">24 hours</option>
            <option value="48">48 hours</option>
            <option value="72">72 hours</option>
          </select>
        </div>
      </div>

      <div class="section" style="margin-top: 10px">
        <div
          *ngIf="
            round.interview_type === 'Bot Call' ||
            round.interview_type === 'One on one' ||
            round.interview_type === 'Third party integration'
          "
          class="form-row"
          style="display: flex; justify-content: center"
        >
          <button
            (click)="collectData()"
            type="button"
            class="btn btn-primary btn filled"
          >
            Save this Round Data
          </button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- New Round Data end -->

<!-- <div class="col-sm-12 w-100">
  <mat-button-toggle-group
    class="w-100"
    name="fontStyle"
    aria-label="Font Style"
  >
    <mat-button-toggle
      class="w-100"
      value="Immediety"
      (click)="tabToggle('immediate')"
      >immediately
    </mat-button-toggle>
    <mat-button-toggle
      class="w-100"
      value="Time"
      (click)="tabToggle('interval')"
      >at a relative time period</mat-button-toggle
    >
    <mat-button-toggle
      class="w-100"
      value="Calender"
      (click)="tabToggle('date')"
      >Specific date/time
    </mat-button-toggle>
  </mat-button-toggle-group>
</div> -->

<!-- <div class="section-header" style="margin-top: 50px">
        <i
          class="fas fa-check-circle"
          style="color: #23cd5e; margin-right: 5px"
        ></i>
        <h2 class="section-title">Location Details</h2>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="botType">State*</label>
          <select
            [(ngModel)]="state"
            id="botType "
            class="bg_color"
            name="botType"
          >
            <option value="">Select Bot Type</option>
            <option value="driveBot">Drive Bot</option>
          </select>
        </div>

        <div class="form-group">
          <label for="botVariant">Address 1*</label>
          <input
            class="bg_color"
            type="text"
            id="time"
            name="time"
            placeholder="Select Time"
            [(ngModel)]="address1"
          />
        </div>

        <div class="form-group">
          <label for="campaign">Address 2*</label>
          <input
            class="bg_color"
            type="text"
            id="time"
            name="time"
            placeholder="Select Time"
            [(ngModel)]="address2"
          />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="date">City*</label>
          <input
            class="bg_color"
            type="text"
            id="time"
            name="time"
            placeholder="Select City"
            [(ngModel)]="city"
          />
        </div>

        <div class="form-group time-input-container">
          <label for="time">Date*</label>
          <input
            [(ngModel)]="date"
            class="bg_color"
            type="date"
            id="date"
            name="date"
          />
        </div>
        <div class="form-group">
          <label for="campaign2">Time*</label>
          <select
            [(ngModel)]="time"
            class="bg_color"
            id="campaign2"
            name="campaign2"
          >
            <option value="">Select Campaign</option>
            <option value="">Select Campaign</option>
            <option value="driveBot">Drive Bot</option>
          </select>
        </div>
      </div> -->
