.btn1{
  margin: 50px;
  text-align: center;
}

.mybtn1{
        border-radius:3px;
        text-decoration:none;
        font-family:sans-serif;
        font-size:20px;
        padding: 10px 20px;
        background-color:#00ad25;
        color:#fff;
        transition-delay:.2s;
        transition:.3s;
        font-variant-caps:all-small-caps;
        box-shadow:4px 3px 11px 0 #00ad25;
        }
.mybtn1:hover{
        background-color:#009420;
        box-shadow:4px 3px 11px 0 #005a13;
        }
        .legend-box {
          height: 1.5rem;
         width: 1rem;
        // width: 4rem;
        //  text-align: center;
         padding: 0;

    font-size: 10px;
        }
        .legend-labelbox {
          	width: 100%;	color: #333333;
         }
