<div class="main-page">

    <!--client not create start-->
    <div class="alert alert-info col-12" *ngIf="clientdetails.length==0 && departments.length==0">
        <h2>Please Create {{db.clientsdepartment}}.</h2>
        <span *ngIf="USR.mp.page_tracker">To create please <a href="./client">click here</a></span>
        <span *ngIf="!USR.mp.page_tracker">Please contact your manager</span>

    </div>
    <!--client not create close-->


    <!--Tracker not create start-->
    <div class="alert alert-warning  col-12" *ngIf="trackerlist.length==0">
        <h2>Please Create Tracker.</h2><span *ngIf="USR.mp.page_client">To create please <a href="/trackers">click
                here</a></span>
        <span *ngIf="!USR.mp.page_client">Please contact your manager</span>.
    </div>
    <!--Tracker not create close-->

    <!-- new job form start -->
    <mat-form-field appearance="outline" class="w-100" style="font-size: 10px;">
        <mat-label> Copy From Existing Job </mat-label>
        <mat-select matNativeControl appearance="outline" id="id"  name="id"
            [(ngModel)]="myjob.id">
            <mat-option >test
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-card class="newjob-card" [hidden]="!(clientdetails.length > 0) && !(trackerlist.length > 0)"
        id="addnewjobform">
        <mat-card-header class="newjob-header">

            <div class="col-md-8">
                <mat-card-title> <span *ngIf="!showeditjob">New</span>
                    <span *ngIf="showeditjob">Edit </span> Job
                </mat-card-title>
                <mat-card-subtitle> <span *ngIf="!showeditjob">Add new </span> <span *ngIf="showeditjob">Update </span>
                    job</mat-card-subtitle>
            </div>
            <div class="col-md-3 pull-right">
                <mat-form-field appearance="outline" class="w-100" style="font-size: 10px;">
                    <mat-label> Copy From Existing Job </mat-label>
                    <mat-select matNativeControl appearance="outline" id="id" (change)="showJob(myjob.id)" name="id"
                        [(ngModel)]="myjob.id">
                        <mat-option [value]="myjobdata.id" (click)="showJob(myjob.id)"
                            *ngFor="let myjobdata of myjobdatas">{{myjobdata.job_title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </mat-card-header>

        <div class="row card-body" style="font-size: 10px">

            <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label> Choose {{USR.clientsdepartment}} </mat-label>
                    <mat-select matNativeControl [panelClass]="'myFilter'" appearance="outline" id="is_client"
                        (change)="checkclientdepartment()" name="is_client" [(ngModel)]="myjob.is_client"
                        ngDefaultControl required>
                        <mat-option [value]="1" (click)="checkclientdepartment()" *ngIf="USR.mp.view_client">Client
                        </mat-option>
                        <mat-option [value]="0" (click)="checkclientdepartment()" *ngIf="USR.mp.view_department">
                            Department</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>







            <!-- Defautl data -->
            <div class="col-md-3" *ngIf='!isClientdata && !isDepartmentdata'>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select a {{db.clientsdepartment}}</mat-label>
                    <mat-select id="clientdepartment" required>
                    </mat-select>
                </mat-form-field>
            </div>
            <!--  -->
            <!-- client input start -->

            <div class="col-md-3" *ngIf='isClientdata'>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select a Client:</mat-label>
                    <mat-select matNativeControl id="client" [(ngModel)]="myjob.client_detail_id"
                        name="client_detail_id" required>
                        <mat-option value="{{client.id}}" *ngFor="let client of clientdetails">
                            {{client.department_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
            <!-- client input close -->



            <!-- department input start -->
            <div class="col-md-3" *ngIf='isDepartmentdata'>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Select a Department:</mat-label>
                    <mat-select matNativeControl id="department" [(ngModel)]="myjob.department" name="department"
                        required>
                        <mat-option value="{{dep.id}}" *ngFor="let dep of departments">
                            {{dep.department_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            </div>
            <!-- department input close -->


            <div class="col-md-2">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Job Title:</mat-label>
                    <input type="text" autocomplete="off" matInput [(ngModel)]="myjob.job_title" required
                        [formControl]="jobControl" (keyup)="jobtitlesuggestion()" [matAutocomplete]="jobTitle">
                    <span *ngIf='speechjobtitle' matSuffix class="material-icons" style="cursor: pointer"
                        (click)="db.textTospeech(myjob.job_title)">
                        volume_up
                    </span>
                    <mat-autocomplete #jobTitle="matAutocomplete">
                        <mat-option *ngFor="let jobtitle of filteredjobs | async" [value]="jobtitle">
                            {{jobtitle}}
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>



            <div class=" col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Manager:</mat-label>
                    <mat-select matNativeControl n="Select a Manager" id='manager_id' [(ngModel)]="myjob.manager"
                        name="manager_id" required>
                        <mat-option value="{{USR.profile.id}}">Self</mat-option>
                        <mat-option value="{{manager.id}}" *ngFor="let manager of USR.managers">
                            {{manager.name}}

                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Tracker:</mat-label>
                    <mat-select matNativeControl n=" a Tracker" id="tracker" [(ngModel)]="myjob.tracker_id" required>
                        <mat-option value="{{tracker.id}}" *ngFor="let tracker of trackerlist">{{tracker.tracker_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>




            <!-- Skills ........... -->


            <div class="col-md-2" *ngIf="USR.mp.can_add_skills_for_call">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Primary Skill</mat-label>
                    <input matInput autocomplete="off" type="text" ngAutocomplete
                        callback-fn='Primary_skillsuggestion()' n="Primary Skill" id="Primary_Skill"
                        [(ngModel)]="myjob.first_skill" (keyup)="Primary_skillsuggestion()" required
                        placeholder="Primary Skill" />
                    <span *ngIf='speechPrimary' matSuffix class="material-icons" style="cursor: pointer"
                        (click)="db.textTospeech(myjob.first_skill)">volume_up </span>
                </mat-form-field>

            </div>


            <div class="col-md-2" *ngIf="USR.mp.can_add_skills_for_call">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Secondary Skill</mat-label>
                    <input matInput autocomplete="off" type="text" ngAutocomplete
                        callback-fn='getsecondaryskillsuggestion()' class="e " n="Secondary Skill" id="Secondary_Skill"
                        [(ngModel)]="myjob.second_skill" (keyup)="getsecondaryskillsuggestion()" required />
                    <span *ngIf='speechSecondary' matSuffix class="material-icons" style="cursor: pointer"
                        (click)="db.textTospeech(myjob.second_skill)">volume_up</span>
                </mat-form-field>

            </div>

            <div class="col-md-2" *ngIf="USR.mp.can_add_skills_for_call">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Others</mat-label>
                    <input matInput autocomplete="off" type="text" ngAutocomplete n="Third Skill" id="Third_Skill"
                        [(ngModel)]="myjob.third_skill" (keyup)="getthirdskillsuggestion()" required />
                    <span *ngIf='speechOthers' matSuffix class="material-icons" style="cursor: pointer"
                        (click)="db.textTospeech(myjob.third_skill)">volume_up </span>
                </mat-form-field>

            </div>

            <div class="col-md-6">
                <!-- <mat-form-field class="pmd-chip-primary w-100" appearance="outline">
                    <mat-label>Job Key Skills <span style="color: red;">*</span> </mat-label>
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let skill of skills" [selectable]="selectable" [removable]="removable"
                            (removed)="remove(skill)">
                            {{skill}}
                            <mat-icon matChipRemove *ngIf="removable" class="fa fa-close"></mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                    <mat-autocomplete #autoOpen="matAutocomplete" (optionSelected)="selected($event)"
                        max-results-to-show="100" load-on-focus="true" select-first-match="false"
                        load-on-down-arrow='true' load-on-empty="true">
                        <mat-option *ngFor="let skill of filteredskills | async" [value]="skill">
                            {{ skill }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->
            </div>




            <div class="row col-xl-6 " style="margin-left: 5px;">
                <strong style="margin-left: -10px;">Salary (Per Annum): </strong>
                <div class="col-md-3">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>From Lakhs:</mat-label>
                        <mat-select matNativeControl id="minimumSalarylac" [(ngModel)]="myjob.minimumSalarylac"
                            name="minimumSalarylac" required>
                            <mat-option value='{{minimumSalarylac}}' (click)="updatemaxsalary()"
                                *ngFor="let minimumSalarylac of  minimumSalaryOption">
                                {{minimumSalarylac}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-2">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Thousand:</mat-label>
                        <mat-select matNativeControl id="minimumSalarythousand" name="minimumSalarythousand"
                            [(ngModel)]="myjob.minimumSalarythousand" placeholder="Thousand" required>
                            <mat-option value='{{minimumSalarythousand}}' (click)="updatemaxsalaryt()"
                                *ngFor="let minimumSalarythousand of  minimumSalaryOptionink">{{minimumSalarythousand}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-3">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>To Lakhs:</mat-label>
                        <mat-select matNativeControl id="maximumSalarylac" validate n="Maximum salary"
                            [(ngModel)]="myjob.maximumSalarylac" name="maximumSalarylac" placeholder="To Lakhs"
                            required>
                            <mat-option value='{{opt}}' (click)="updatemaxsalaryt()"
                                *ngFor="let opt of  maxSalaryOption" help="first select minimum value">
                                {{opt}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>


                <div class="col-md-2">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Thousand:</mat-label>
                        <mat-select matNativeControl name="maximumSalarythousand" required
                            [(ngModel)]="myjob.maximumSalarythousand" id="maximumSalarythousand" placeholder="Thousand">
                            <mat-option value='{{opt}}' *ngFor="let opt of  maximumSalaryOptionink">{{opt}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="col-md-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Job Referral: </mat-label>
                        <mat-select matNativeControl n="Referral" id="Referral" [(ngModel)]="myjob.isReferral"
                            name="Referral" placeholder="Is Referral" required>
                            <mat-option (click)='Referraljob()' value="Yes">Yes
                            </mat-option>
                            <mat-option (click)='Referraljob()' value="No">No
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="referral">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Referral Bonus:</mat-label>
                        <input matInput autocomplete="off" type="number" ngAutocomplete id="referralBonus"
                            [(ngModel)]="myjob.referralBonus" required />
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="referral">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Select a Department:</mat-label>
                        <mat-select matNativeControl id="departments" [(ngModel)]="Referraldepartments"
                            name="departments" required [multiple]="true">
                            <mat-option value="{{dep.id}}" *ngFor="let dep of departments">
                                {{dep.department}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row col-xl-6 " style="margin-left: 15px;">
                <strong style="margin-left:-15px;"> Experience (In Year): </strong>

                <div class="col-md-2">
                    <!-- <label class="col-md-7" Exprience>From Year</label> -->

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>From Year:</mat-label>
                        <mat-select matNativeControl id="MinimumExperience" validate n="Minimum Experience"
                            [(ngModel)]="myjob.minimum_experience" name="minimumExperience" placeholder="From Year"
                            required>
                            <mat-option value='{{opt}}' (click)="updatemaxexperience()"
                                *ngFor="let opt of  minexperience">
                                {{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="col-md-2">
                    <!-- <label class="col-md-7" Exprience>To Year</label> -->

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>To Year:</mat-label>
                        <mat-select matNativeControl id="MaxExperience" validate n="Maximum Experience"
                            [(ngModel)]="myjob.maximum_experience" name="maximumExperience" placeholder="To Year"
                            required>
                            <mat-option value='{{opt}}' *ngFor="let opt of  maxexperience">{{opt}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>

                <div class="col-md-2" id="width">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Signing authority:</mat-label>
                        <mat-select matNativeControl n="Signing authority" [(ngModel)]='myjob.Signingauthority'
                            placeholder="Job Type" required>
                            <mat-option value="{{db.profile.id}}">Self</mat-option>
                            <mat-option value="{{manager.id}}" *ngFor="let manager of managers">
                                {{manager.name}}

                            </mat-option>
                            <!-- <mat-option value="Freelence">Freelence</mat-option> -->
                        </mat-select>
                    </mat-form-field>



                </div>
                <div class="col-md-2" id="width">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Salary Slab:</mat-label>
                        <mat-select matNativeControl n="Job Type" [(ngModel)]='myjob.salaryslab' placeholder="Job Type"
                            required>
                            <mat-option value="Category A">Category A</mat-option>
                            <mat-option value="Category B">Category B</mat-option>
                            <mat-option value="Category C">Category C</mat-option>
                            <!-- <mat-option value="Freelence">Freelence</mat-option> -->
                        </mat-select>
                    </mat-form-field>


                </div>

                <div class="col-md-4" id="width">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Job Type:</mat-label>
                        <mat-select matNativeControl (change)="jobtype()" n="Job Type" [(ngModel)]='myjob.jobtype'
                            placeholder="Job Type" required>
                            <mat-option (click)="jobtype()" value="Full Time">Full Time</mat-option>
                            <mat-option (click)="jobtype()" value="Internship">Internship</mat-option>
                            <mat-option (click)="jobtype()" value="Contract">Contract</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
                <div class="form-group col-md-12">

                    <div id="internshipdiv" style="display: none;" class="row">
                        <div class="col-md-6" id="Responsibility">

                            <mat-form-field appearance="outline" class="w-100" id="width1">
                                <mat-label>Internship duration:</mat-label>
                                <mat-select matNativeControl [(ngModel)]='myjob.internshipduration'
                                    placeholder="Internship duration" required>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="6">6</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6" id="Responsibility">
                            <mat-form-field appearance="outline" id="width2" class="w-100">
                                <mat-label>Month/Weeks:</mat-label>
                                <mat-select matNativeControl [(ngModel)]='myjob.internshipdurationunit' required>
                                    <mat-option value="Month">Month</mat-option>
                                    <mat-option value="Weeks">Weeks</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                    </div>


                    <div id="contract" style="display: none;" class="row">
                        <div class="form-group col-md-4" id="contract">
                            <label>Contract Re-newable</label>
                            <div class="row">
                                <mat-radio-group>
                                    <mat-radio-button ngDefaultControl [(ngModel)]='myjob.contractrenewable'
                                        value="yes">Yes
                                    </mat-radio-button> &nbsp;
                                    <mat-radio-button ngDefaultControl [(ngModel)]='myjob.contractrenewable' value="no">
                                        No
                                    </mat-radio-button>
                                </mat-radio-group>

                            </div>


                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Contract Duration:</mat-label>
                                <mat-select matNativeControl n="a Contract Duration" id="Contract"
                                    [(ngModel)]='myjob.contract' placeholder="Contract Duration" required>
                                    <mat-option>1</mat-option>
                                    <mat-option>2</mat-option>
                                    <mat-option>3</mat-option>
                                    <mat-option>4</mat-option>
                                    <mat-option>5</mat-option>
                                    <mat-option>6</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Month/Weeks:</mat-label>
                                <mat-select matNativeControl n="a Month" ngDefaultControl id="month"
                                    [(ngModel)]='myjob.contractunit' placeholder="Month/Weeks " required>
                                    <mat-option>Month</mat-option>
                                    <mat-option>Weeks</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <strong> Job Description:</strong>
                <div class="w-100">
                    <ckeditor [editor]="Editor" rows="6" [(ngModel)]="myjob.job_description" placeholder="job">
                    </ckeditor>
                </div>
            </div>
            <div class="row col-xl-6">
                <div class="col-md-12">
                    <strong> Job Location:<span (click)="loadlocation()" style="cursor: pointer;">India
                            Location</span>/<span (click)="loadinternationlocation()"
                            style="cursor: pointer;">International location</span></strong>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{LocationInternationalLocal}}</mat-label>
                        <mat-select matNativeControl name="location" [(ngModel)]="location" [multiple]="true"
                            ngDefaultControl placeholder="International Location / Location" required>
                            <mat-option *ngFor="let location of locations " value="{{location}}">{{location}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label> Job About: </mat-label>
                        <textarea matInput class="form-control e" n="job about" id="jobabout" [(ngModel)]="myjob.about"
                            name="Notes"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Industry</mat-label>
                        <mat-select matNativeControl ngDefaultControl id="Industry" validate n="a Industry"
                            [(ngModel)]="myjob.industry" name="industry_id" placeholder="Industry" required>
                            <mat-option *ngFor="let industry of  industries" value="{{industry.industry_name}}">
                                {{industry.industry_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Functional Area</mat-label>
                        <select matNativeControl ngDefaultControl class="form-control" n="a Functional Area" id="fun"
                            [(ngModel)]="myjob.functional_area" (change)="getrole()" name="function_id" required>
                            <option class="funs" *ngFor="let x of functionalareas" [attr.opt]='x.code'
                                value="{{x.functional_areas_name}}">{{x.functional_areas_name}}</option>
                        </select>
                    </mat-form-field>



                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Job Role</mat-label>
                        <mat-select matNativeControl ngDefaultControl id="jobRole" validate n="a Job Role"
                            name="jobRole" [(ngModel)]="myjob.jobRole" placeholder="Job Role" required>
                            <mat-option value="{{myjob.jobRole}}">{{myjob.jobRole}}</mat-option>
                            <mat-option *ngFor="let jobrole of  jobroles" value="{{jobrole.val}}">{{jobrole.val}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>



                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Number of opening: </mat-label>
                        <input matInput autocomplete="off" type="number" id="numberofopening" validate
                            n="Number of opening" [(ngModel)]="myjob.number_of_opening" name="numberOfOpening"
                            placeholder="opening" required />
                    </mat-form-field>
                </div>


                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Job Status: </mat-label>
                        <mat-select matNativeControl n="Status" id="jobstatus" rows="3" [(ngModel)]="myjob.job_status"
                            name="Status" placeholder="Job Status" required>
                            <mat-option value="Hold">Hold</mat-option>
                            <mat-option value="Active">Active</mat-option>
                            <mat-option ng-if="isjobediting" (click)='changefilter("Closed")' value="Closed">Closed
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100" id="call">
                        <mat-label>visible on website :</mat-label>
                        <mat-select matNativeControl n="visibleapp" id="visibleapp" rows="3"
                            [(ngModel)]="myjob.is_visible_on_app" ngDefaultControl name="Status"
                            placeholder="visible on website :" required>
                            <mat-option (click)="checkvisibleornot()" [value]="1">Yes</mat-option>
                            <mat-option (click)="checkvisibleornot()" [value]="0">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-6" *ngIf="visibledate">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Job Display From : </mat-label>
                        <input matInput autocomplete="off" [(ngModel)]="myjob.start_date" [matDatepicker]="picker"
                            placeholder="Choose a date" (focus)="picker.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="visibledate">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Job Display To : </mat-label>
                        <input matInput autocomplete="off" [(ngModel)]="myjob.end_date" [matDatepicker]="picker2"
                            placeholder="Choose a date" (focus)="picker2.open()">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>


                <div class="col-md-4" *ngIf="USR.mp.btn_can_call">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Call Type : </mat-label>
                        <mat-select matNativeControl name="calltype" id="bot" [(ngModel)]="myjob.calltype"
                            ngDefaultControl placeholder="Call Type" required>
                            <mat-option *ngFor="let boot of callportnameobj" value="{{boot.text}}">
                                {{boot.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="USR.mp.btn_och">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Auto Integration: </mat-label>
                        <mat-select matNativeControl name="autointegration" id="autointegration"
                            [(ngModel)]="myjob.auto_Integration" ngDefaultControl placeholder="Auto Integration">
                            <mat-option value=""> </mat-option>
                            <mat-option (click)="checkhiringanager()" value="Yes">Yes</mat-option>
                            <mat-option (click)="checkhiringanager()" value="No">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4" *ngIf="USR.mp.btn_och">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Interview Round: </mat-label>
                        <mat-select matNativeControl name="interview_round" id="interview_round"
                            [(ngModel)]="myjob.interview_round" ngDefaultControl placeholder="Interview Round">
                            <mat-option (click)="checkInterviewround()" value="1">1</mat-option>
                            <mat-option (click)="checkInterviewround()" value="2">2</mat-option>
                            <mat-option (click)="checkInterviewround()" value="3">3</mat-option>
                            <mat-option (click)="checkInterviewround()" value="4">4</mat-option>
                            <mat-option (click)="checkInterviewround()" value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="USR.mp.btn_och">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Min Rating: </mat-label>
                        <mat-select matNativeControl name="min_rating" id="min_rating" [(ngModel)]="myjob.min_rating"
                            ngDefaultControl placeholder="Min Rating">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4" *ngIf="USR.mp.btn_och">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Interview Within: </mat-label>
                        <mat-select matNativeControl name="interview_within" id="interview_within"
                            [(ngModel)]="myjob.interview_within" ngDefaultControl placeholder="Min Rating">
                            <mat-option value="48">48 Hours</mat-option>
                            <mat-option value="72">72 Hours</mat-option>
                            <mat-option value="169">168 Hours</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Notes : </mat-label>
                        <textarea matInput class="form-control e" n="Notes" id="notes" [(ngModel)]="myjob.notes"
                            name="Notes"></textarea>
                    </mat-form-field>
                </div>









            </div>




            <mat-card-actions>


                <button type="submit" class="btn btn-primary validate"
                    *ngIf="!isjobediting ||jobupdate || !hidesavebutton" tar="#addnewjobform"
                    (click)="checkexistingjob()">Save</button>
                <button *ngIf="isjobediting == true" type="submit" class="btn btn-primary validate" tar="#addnewjobform"
                    (click)="addNewJobupdate()">Update</button>
            </mat-card-actions>















        </div>








    </mat-card>

























</div>



<div class="modal fade job-finder-wrap theme-5" id="InterviewRounds" data-bs-backdrop="static" tabindex="-1"
    role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="color:black">
                    your job {{createupdate}} Successfully
                </h5>
            </div>
            <div class="modal-body" style="font-size: 10px">

                <div class="row" *ngFor="let round of InterviewsRounds; let i = index;">
                    <strong>Interview Round {{round.id}}:</strong>
                    <div class="col-md-4" *ngIf="USR.mp.btn_och">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Hiring Manager: </mat-label>
                            <mat-select name="hiringmanager_{{round.id}}" id="hiringmanager"
                                [(ngModel)]="round.managersid" placeholder="Hiring Manager">
                                <mat-option *ngFor="let HM of hiringmanagers" value="{{HM.id}}">{{HM.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="USR.mp.btn_och">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Event Name: </mat-label>
                            <input matInput autocomplete="off" type="text" id="event_name" validate
                                [(ngModel)]="round.event_name" name="event_name" required />
                        </mat-form-field>
                    </div>

                    <div class="col-md-4" *ngIf="USR.mp.btn_och">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Event Limit: </mat-label>
                            <mat-select matNativeControl name="event_limit" id="event_limit"
                                [(ngModel)]="round.event_limit" ngDefaultControl>
                                <mat-option value="00:15:00">15 Min</mat-option>
                                <mat-option value="00:30:00">30 Min</mat-option>
                                <mat-option value="00:45:00">45 Min</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <Small id="Interview_round_error" style="color: red;"></Small>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" (click)="saveinterviewround('Done')">Done</button>&nbsp;
                <button class="btn btn-sm btn-primary" (click)="saveinterviewround('close')">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade job-finder-wrap theme-5" id="jobtype" data-bs-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="color:black">
                    your job {{createupdate}} Successfully
                </h5>
            </div>
            <div class="modal-body" style="font-size: 10px">

                <div class="row" *ngFor="let round of InterviewsRounds; let i = index;">
                    <strong>Interview Round {{round.id}}:</strong>
                    <div class="col-md-4" *ngIf="USR.mp.btn_och">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Select Hiring Manager: </mat-label>
                            <mat-select name="hiringmanager_{{round.id}}" id="hiringmanager"
                                [(ngModel)]="round.managersid" placeholder="Hiring Manager">
                                <mat-option *ngFor="let HM of hiringmanagers" value="{{HM.id}}">{{HM.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                </div>
                <Small id="Interview_round_error" style="color: red;"></Small>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" (click)="saveJobType('Done')">Done</button>&nbsp;
                <button class="btn btn-sm btn-primary" (click)="saveJobType('close')">Close</button>
            </div>
        </div>
    </div>
</div>