#addnewjobform .col-md-6 {
    float: left;
}

#locinter:hover {
    width: 300px;
    height: 300px
}

.formsinput {
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #B3A9A9;
    box-sizing: border-box;
}

.formheaders {
    box-shadow: 0px -4px 15px rgb(155, 177, 245);
    -moz-box-shadow: 0px -4px 15px rgb(155, 177, 245);
    -webkit-box-shadow: 0px -4px 15px rgb(155, 177, 245);
    -o-box-shadow: 0px -4px 15px rgb(155, 177, 245);
    -ms-box-shadow: 0px -4px 15px rgb(155, 177, 245);
}

// @import url('../../../../../assets/scss/core/main-panel.scss');
mat-card {
    background-color: #E9D3FB;
}

.card-body {
    background-color: #fff;
}

.mat-select-placeholder {
    color: blue !important;
}

.mat-standard-chip {
    min-height: 0px;
    max-height: 15px;
    background-color: #E9D3FB;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 235px !important;
    max-height: 235px;
}

//@media screen and (max-width:700px){
//#form{max-width:40px;}
//}