<!-- <app-scrool-to-top-buttom></app-scrool-to-top-buttom>
<app-call [allids]='allids'></app-call>
<app-add-to-job [allids]='allids'></app-add-to-job>
<app-pv-get-reference [allids]='allids'></app-pv-get-reference>
<app-add-candidates></app-add-candidates> -->

<div class="main-content" style="position:relative;">

  <div class=" container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">

          <button type="button" class="btn btn-sm btn btn-outline-secondary col-md-2" *ngIf="db.mp.add_to_job_store"
            title="Add to job" (click)="openmodal('#addtojob')">Add To Job

          </button>
          <button type="button" class="btn btn-sm btn btn-outline-secondary col-md-3"
            (click)="openmodal('#addcandidate')" *ngIf="db.mp.candidate_detail_store" title="Add Candidate">Add
            Candidate</button>
          <button type="button" class="btn btn-sm btn btn-outline-secondary col-md-2" (click)="openmodal('#calldiv')"
            title="call" *ngIf="db.mp.btn_can_call">
            <i class="fa fa-phone "></i>
            Call</button>
          <button type="button" class="btn btn-sm btn btn-outline-secondary col-md-2" (click)="openSearchDialog(search)"
            title="search">
            <i class="fa fa-search icones"></i>
            Search</button>
          <button type="button" class="btn btn-sm btn btn-outline-secondary col-md-3"
            click)="openmodal('#getreferencemodal')" *ngIf="db.mp.btn_take_internal_refeference"
            title="Get Reference from selected candidates or send mail ">Get Reference</button>






        </div>



      </div>
    </div>

 
    <div class="col-12">
      <app-gridinternaldata [data]="datas" [hidecol]="hidecols" (GridHeaderClicked)="datfromprgrid($event)"
        (GridRowClicked)="OnRowclicked($event)" sendData="true" [header]="DataDefinitions"></app-gridinternaldata>
    </div>
  </div>

</div>


<ng-template #search>
  <div style="display: flex; justify-content: space-between;">
    <h1 style="padding-left: 20px; padding-top: 10px;"> <span *ngIf="advancesearch">Advance</span>
      <span *ngIf="booleansearch">Boolean</span> Search
    </h1>
    <div>
      <i class="fa-solid fa-x closedialog" matDialogClose></i>
    </div>
  </div>
  <mat-dialog-content>
    <div class="container-fluid" id="mymodal">
      <div class="card advancesearch">
        <div class="card-body">
          <div class="row" *ngIf="advancesearch">

            <div class="col-md-6">
              <div class="col-md-9">
                <mat-form-field class="example-full-width">
                  <mat-label> Any Keyword- </mat-label>

                  <input matInput autocomplete="off" type="text" [(ngModel)]="orsearch"
                    (keyup.enter)="loadGrid()" />
                </mat-form-field>
              </div>
            </div>

            <div class="col-md-6">
              <div class="col-md-10">
                <mat-form-field class="example-full-width">
                  <mat-label> All Keyword- </mat-label>

                  <input matInput autocomplete="off" type="text" [(ngModel)]="andsearch"
                    (keyup.enter)="loadGrid()" />
                </mat-form-field>
              </div>
            </div>

          </div>

          <div class="col-md-12 row" *ngIf="booleansearch">
            <div class="col-md-11">
              <mat-form-field class="example-full-width">
                <mat-label> Search- </mat-label>
                <input matInput autocomplete="off" type="text" [(ngModel)]="searchText"
                  (keyup.enter)="loadGridboolean()" />
              </mat-form-field>
            </div>


          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <div class='col-md-9'>

                <mat-select [(ngModel)]="salaryfrom" name="salaryfrom" placeholder="Salary From"
                  (selectionChange)="updatemaxsalary()">
                  <mat-option value='{{minimumSalarylac}}' *ngFor="let minimumSalarylac of  minimumSalaryOption">
                    {{minimumSalarylac}} Lacs</mat-option>
                </mat-select>
              </div>
            </div>

            <div class="form-group col-md-6">


              <div class='col-md-10'>

                <mat-select [(ngModel)]="salaryto" name="salaryto" placeholder="Salary To-">
                  <mat-option value='{{opt}}' *ngFor="let opt of  maxSalaryOption"
                    help="first select minimum value">
                    {{opt}} Lacs
                  </mat-option>
                  <mat-option value="99">any</mat-option>

                </mat-select>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <div class='col-md-9'>


                <mat-select [(ngModel)]="expfrom" (selectionChange)="updatemaxexperience()" name="expfrom"
                  placeholder="Experience From-">
                  <mat-option value="'Fresher'">Fresher</mat-option>
                  <mat-option value='{{opt}}' *ngFor="let opt of  minexperience">{{opt}} year</mat-option>
                  <mat-option value="0">Any</mat-option>

                </mat-select>
              </div>
            </div>

            <div class="form-group col-md-6">


              <div class='col-md-10'>

                <mat-select [(ngModel)]="expto" name="expto" placeholder="Experience To-">
                  <mat-option value='{{opt}}' *ngFor="let opt of  maxexperience">{{opt}} year</mat-option>
                  <mat-option value="99">Any</mat-option>

                </mat-select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <div class='col-md-9'>

                <mat-select [(ngModel)]="locationss" name="location" [multiple]="true" placeholder="Location:">
                  <mat-option *ngFor="let locations of location">
                    {{locations}}
                  </mat-option>
                </mat-select>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions>

    <button type="button" class="btn btn-outline-primary btn-sm" (click)="resetfilter()">Reset</button>
    <button type="button" class="btn btn-outline-danger btn-sm"  mat-dialog-close>Close</button>
    <button *ngIf="booleansearch" type="submit" class="btn  btn-raised btn-sm btn-outline-info"
      tar="#assignCandidate" (click)="loadGridboolean()">Search</button>
    <button *ngIf="advancesearch" type="submit" class="btn  btn-raised btn-sm btn-outline-primary"
      (click)="loadGrid()">Search</button>
  </mat-dialog-actions>

</ng-template>





