

<div class="main-content " *ngIf="db.mp.page_billing_details"style="position:relative; top:0.5rem;">

    <div class="row">
   <div class="col-md-12">
   <pagination-controls [directionLinks]="true" previousLabel="Previous" nextLabel="Next" [responsive]="true"[autoHide]="false"
   screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
   screenReaderCurrentLabel="You're on page"class="pull-right  my-pagination" (pageChange)="p = $event">
 </pagination-controls>
   </div>
   </div>
   <div class="container-fluid pull-right" >
 
     <div style=" left:1rem;" class="col-md-12">
 
   <!---    <pagination-controls directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous"
         nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
         screenReaderCurrentLabel="You're on page" class="pull-right my-pagination" (pageChange)="p = $event">
       </pagination-controls>-->
 
 
   <!---    <pagination-controls [directionLinks]="true" previousLabel="Previous" nextLabel="Next" [responsive]="true"[autoHide]="false"
       screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
       screenReaderCurrentLabel="You're on page" style="margin-top: -4rem;"class="pull-right  my-pagination" (pageChange)="p = $event">
     </pagination-controls>-->
       <div class="box box-primary" id="#">
 
         <div class="row">
 
           <div class="col-md-12">
 
             <div class="card" *ngFor="let x of billingdetail ">
               <div class="carc-header" id="fontsizeheading">
                 {{x.month_of_credit}}
               </div>
 
               <div class="row">
                <!--- <div class="col-md-1">
                 </div>-->
 
                 <div class="col-md-2">
                   <p class="card-category">Added Credits</p>
                   <h5 class="card-title "id="fontsizestyle"> {{x.added_credits}}
                   </h5>
                 </div>
                 <span class="dataAndTtSeparator"></span>
                 <div class="col-md-2">
                   <p class="card-category">Previous Credits</p>
                   <h5 class="card-title" id="fontsizestyle"> {{x.previous_credites}}
                   </h5>
                 </div>
                 <span class="dataAndTtSeparator"></span>
                 <div class="col-md-2">
                   <p class="card-category">Current Avialable Credits</p>
                   <h5 class="card-title" id="fontsizestyle"> {{x.current_avialable_credits}}
                   </h5>
                 </div>
                 <span class="dataAndTtSeparator"></span>
                 <div class="col-md-2" (click)="GetBonusCandidate(x.month_of_credit)">
                   <p class="card-category">Bonus Credits</p>
                   <h5 class="card-title" id="fontsizestyle"> {{x.bonus_credits}}
                   </h5>
                 </div>
                 <span class="dataAndTtSeparator"></span>
               <div class="col-md-2">
                   <p class="card-category">Balance Credits</p>
                   <h5 class="card-title" id="fontsizestyle"> {{x.balance_credits}}
                   </h5>
                 </div>
 
               </div>
             </div>
 
           </div>
         </div>
 
 
       </div>
     </div>
   </div>
 </div>
 
 
 <div id="candidatesdatas" class="modal fade" style="z-index:2000" role="dialog">
   <div class="modal-dialog width100percent">
 
     <!-- Modal content -->
     <div class="modal-content">
       <div class="modal-header">
 
         <h6 class="modal-title">Bonus Candidate</h6>
         <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
       </div>
       <app-grid [data]='bonuscandidate' [showcol]="showcols" [hidecol]="hidecols" [page_names]='Bonuscandidate'>
       </app-grid>
     </div>
 
   </div>
 
 
 
 </div>
 <!--<th class="cell100 column3">
   <mat-select style="width: 140px;" placeholder="Results Per Page/{{pagesize}}" class="pull-right">
     <mat-option (click)="setPage(pager.currentPage,10)">
       10
     </mat-option>
     <mat-option (click)="setPage(pager.currentPage,20)">
       20
     </mat-option>
     <mat-option (click)="setPage(pager.currentPage,50)">
       50
     </mat-option>
     <mat-option (click)="setPage(pager.currentPage,100)">
       100
     </mat-option>
 
   </mat-select>
 
 </th>
 -->
 