.dataAndTtSeparator {
    width: 5px;
    border-right: 1px solid #d7d7d7;
  }


  #fontsizeheading{
    font-weight: 500;
    font-family: 'Noto Sans, sans-serif	';
    color: #000000bb;
    font-size: 24px;
    text-transform: capitalize;
}

#fontsizestyle{
    font-weight: 900;
    font-family: 'Noto Sans, sans-serif	';
    font-size: 31px;
}