<div class="container" style="margin-top:10% ;">
    <div class="row">
      <div class="col-8">
        <h5> <span style="color:#a64eed">  Arvind Chaudhary </span> change the Status <span style="color:#a64eed">Candidate Name </span> for (test)</h5>
        <h5>Comment:-</h5>
      </div>
  
      <div class="col-4">
        <div class="card" style="width: 10rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
  
          </div>
        </div>
        <span>Status:-</span>
        <span>asdasd</span>
      </div>
  
    </div>
    <div class="row">
      <div class="col">
  
        <span style="color:gainsboro">Date and time </span>
      </div>
      <div class="col-5">
  
      </div>
      <div class="col">
  
      </div>
    </div>
    <hr class="hr-1">
  </div>
  