/*  @import "~@fortawesome/fontawesome-free/css/all.css"; */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  /* Main content styles, including sidebars */
  .main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-grow: 1; */
    width: 100%;
  }
  
