.unassign:after {
    content: 'Unassign'; 
    font-size: 12px;
    color: #c00;
    display: inline-block;
}
.assign:after {
    content: 'Assign';
    font-size: 12px;
    color: #29cc00;
    display: inline-block;
}

.closedialog {
    font-size: 1.32rem; 
    position: absolute;
    right: 0.625rem; 
    color: #f44336;
    padding-top: 20px;
    padding-right: 15px;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }
