<div class="main-content "style="position:relative;">
    <div class="container-fluid">
      <button class="btn btn-primary btn-outline"(click)="visible();"  value="show grid">Add Department
        </button>
        <div class="row">
  
  
  
        <!-- Main content -->
  
  <div class="col-md-12">
            <!-- <ag-grid-angular
            style="height: 500px;"
            class="ag-theme-material"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            suppressCsvExport=false
  
          [suppressRowClickSelection]="true"
          [groupSelectsChildren]="true"
          paginationAutoPageSize='true'
          (selectionChanged)="onSelectionChanged($event)"
          [debug]="true"
          [rowSelection]="rowSelection"
          [rowGroupPanelShow]="rowGroupPanelShow"
          [pivotPanelShow]="pivotPanelShow"
          [enableRangeSelection]="true"
          [pagination]="true"
          (gridReady)="onGridReady($event)"
  
          (rowClicked)="onRowClicked($event)"
            ></ag-grid-angular> -->
          </div>
            <div class="card col-md-12 mb-5"*ngIf="isvisible">
                <div class="card-header card-header-danger">
                    <h6 class="card-title">Department</h6>
                    <p class="card-category">Add or Edit department details</p>
                    </div>
  
  
  
            <div class="container" ng-hide="profile.can_copy_client_to_department">
                <div class="row" id="trackermaster">
  
                        <div  class="row col-md-12">
  
                            <div class="form-group col-md-4">
                                <label for="" class="control-label">Department Name:</label>
                                <div class="col-md-">
                                    <input type="text" autocomplete="off"  required class="form-control e" id="dname"  n="Display Name" [(ngModel)]="department.department_name">
                                </div>
                            </div>
  
                            <div class="form-group col-md-4">
                              <label for="" class="control-label">Head Of Department:</label>
                              <div class="col-md-">
                                  <input type="text" autocomplete="off"  required class="form-control e" id="hod"  n="Display Name" [(ngModel)]="department.head_of_department">
                              </div>
                          </div>
  
  
                          <div class="form-group col-md-4">
                              <label for="" class="control-label">Department Location:</label>
                              <div class="col-md-">
                                  <input type="text" autocomplete="off"  required class="form-control e" id="location"  n="Display Name" [(ngModel)]="department.department_location">
                              </div>
                          </div>
  
                          </div>
  
  
                            <div class="form-group col-md-4">
                                <div class=" col-xs-offset-2 col-xs-10">
                                    <button type="submit" class="btn  btn-raised btn-primary " tar="#trackermaster" *ngIf="!isEdit" (click)="departmentsave()">Save</button>
                                    <button type="button" class="btn  btn-raised btn-primary" tar="#channel" *ngIf="isEdit" (click)="departmentupdate()">Update</button>
                                    <button type="button" class="btn  btn-raised btn-primary" tar="#channel" *ngIf="isEdit" (click)="back()">Back</button>
                                </div>
                            </div>
  
  
  
  
  
  
  
                </div>
  
            </div>
          </div>
          </div>
          </div>
  