
<div class="form-container">
    <div class="form-top">
      <span class="form-head">Build Status Relation</span>
      <i routerLink="/candidate-status" class="fa-solid fa-x"></i>
    </div>
    <form #usersForm="ngForm" inputmode="myForm">
      <div class="form-group">
        <label for="options">Candidate Status :</label>
        <select class="selectclass" id="options" [(ngModel)]="candidateValueOne">
          <!-- <option value="" selected>Please select</option> -->
          <option *ngFor="let status of candidateStatusData" [ngValue]="status.id">{{ status.display_name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="options">Candidate Status :</label>
        <select class="selectclass" id="options" [(ngModel)]="candidateValueTwo">
          <!-- <option value="" selected>Please select</option> -->
          <!-- <option *ngFor="let option of candidate_id" [ngValue]="option">{{ option }}</option> -->
          <option *ngFor="let status of candidateStatusData" [ngValue]="status.id">{{ status.display_name }}</option>
        </select>
      </div>
      <button class="submitbtn" type="submit" (click)="onSubmit()">Submit</button>
  
    </form>
  
  </div>