<div class="main-content" style="position:relative; margin-top: 2rem;">
    <div class="container-fluid">
  
  
      <div class="row col-12" *ngIf="GetsendedData && _data?.length > 0">
        <div class="table100-bottom  table100 ver2 m-b-110 ">
          <table class="tableResize  table100-head editthead  stickyfooter " style="overflow: scroll; ">
  
            <thead class="" style="width: 100%; max-width: 100%;overflow: scroll">
              <tr class=" ">
                <th class="column100 column2 pl-5  ml-5 color" style="padding-left: 10px;" data-column="column2"
                  *ngIf="db.mp.call_checkbox">
                  <mat-checkbox type="checkbox" [(ngModel)]="masterSelected" class="example-margin" class="pl-5 "
                    style="margin-left: -12%;" value="m1" (change)="checkUncheckAll()"
                    class="example-margin"></mat-checkbox>
                  <span *ngIf="count != 0"> {{count}} Selected
                  </span>
                  <span *ngIf="count == 0"> Select All
                  </span>
  
                  <button *ngIf="count != 0  && db.profile.app_id == 120" class="btn btn-sm btn-outline-secondary"
                    (click)="exportAsXLSX()" help='download excel'>Export
                    Candidate(s) </button>
                </th>
  
                <th>
                  <mat-form-field appearance="outline" style="font-size: 10px;">
                    <mat-label>Search:</mat-label>
                    <input matInput autocomplete="off" type="text" [(ngModel)]="searchText">
                    <mat-icon *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''"
                      class="material-icons">close</mat-icon>
                  </mat-form-field>
                </th>
  
  
                <th class="cell100 column3 color1 mr-4 mt-4">
                  <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
                    <li [ngClass]="{disabled:pager.currentPage === 1}" (click)="First()">
                      <a class="page-link Last" (click)="setPage(0,pagesize,true)" help="First">
                        <span aria-hidden="true">|&laquo; </span>
                        <span class="sr-only">First</span></a>
                    </li>
                    <li *ngIf="pager.currentPage!=2" (click)="Previous()" [ngClass]="{disabled:pager.currentPage === 1}"
                      help="Previous">
                      <a (click)="setPage(pager.currentPage - 1,pagesize,true)">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li *ngIf="pager.currentPage==2" (click)="Previous()" [ngClass]="{disabled:pager.currentPage === 1}"
                      help="Previous">
                      <a (click)="setPage(0,pagesize,true)">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
  
                    <li class="mx-0 my-0">
                      <a>{{pager.currentPage}} of {{pager.totalPages}} /{{gridcount}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="Next()">
                      <a class="page-link Last" (click)="setPage(pager.currentPage + 1,pagesize,true)" help="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="Last()">
                      <a class="page-link Last" (click)="setPage(pager.totalPages,pagesize,true)" help="Last">
                        <span aria-hidden="true">&raquo;|</span>
                        <span class="sr-only">Last</span>
                      </a>
                    </li>
  
                  </ul>
                  <span>
                    <div mat-button [matMenuTriggerFor]="PageWiseData" class="pull-right pointer  mt-3 ml-2 mt-4 mr-3"
                      href="javascript:">
                      <span class="material-button">
                        Results Per Page {{pagesize}}
                      </span>
                    </div>
                    <mat-menu #PageWiseData="matMenu">
                      <button mat-menu-item (click)="setPage(pager.currentPage,10, true)"> 10 per page</button>
                      <button mat-menu-item (click)="setPage(pager.currentPage,20, true)"> 20 per page</button>
                      <button mat-menu-item (click)="setPage(pager.currentPage,50, true)"> 50 per page</button>
                      <button mat-menu-item (click)="setPage(pager.currentPage,100, true)"> 100 per page</button>
                      <button mat-menu-item (click)="setPage(pager.currentPage,200, true)"> 200 per page</button>
                    </mat-menu>
                  </span>
                </th>
              </tr>
            </thead>
          </table>
  
          <div class="GRIDBOX row col-md-12" *ngFor="let item of candidatestatus">
  
            <div class="col-md-1">
              <ng-container *ngFor="let entry of item;trackBy: valuetransform">
                <mat-checkbox *ngIf="entry.type =='checkbox'" style="margin-top: 15px; margin-left: -15px;"
                  type="checkbox" [(ngModel)]="entry.isSelected" name="list_name{{entry.value}}" value="{{entry.value}}"
                  (change)="isSingleSelected(entry,item)">
                </mat-checkbox>
              </ng-container>
  
            </div>
            <div class="col-md-11 row">
              <div class="col-md-6" style="margin-left:-8%;">
                <ng-container *ngFor="let entry of item;trackBy: valuetransform">
                  <span *ngIf="entry.print== 'headingleft'" title="{{entry.headername}}"
                    [innerHTML]="entry.element " (click)="onRowClicked(entry)">
                  </span>
                </ng-container>
              </div>
              <div class="col-md-6" style="margin-left: 8%;">
                <ng-container *ngFor="let entry of item;trackBy: valuetransform">
                  <span class="{{entry.size}}" title="{{entry.headername}}" *ngIf="entry.print== 'headingright'"
                    [innerHTML]="entry.element " (click)="onRowClicked(entry)">
                  </span>
                </ng-container>
              </div>
            </div>
  
  
            <div class="col-md-12 row" style="margin-left: 0.5%;">
              <div class="col-md-10 row">
                <ng-container *ngFor="let entry of item;trackBy: valuetransform">
                  <div class="{{entry.size}}" title="{{entry.headername}}" *ngIf="entry.print== 'bodyleft'"
                    [innerHTML]="entry.element  " (click)="onRowClicked(entry)">
                  </div>
                </ng-container>
              </div>
              <div class="col-md-2 row">
                <ng-container *ngFor="let entry of item;trackBy: valuetransform">
                  <div class="{{entry.size}}" title="{{entry.headername}}" *ngIf="entry.print== 'bodyright'"
                    [innerHTML]="entry.element" (click)="onRowClicked(entry)">
                  </div>
                </ng-container>
              </div>
              <div class="col-md-12 row">
                <ng-container *ngFor="let entry of item;trackBy: valuetransform">
                  <div class="{{entry.size}}" title="{{entry.headername}}" *ngIf="entry.print== 'bodybottom'"
                    [innerHTML]="entry.element" (click)="onRowClicked(entry)">
                  </div>
                </ng-container>
                <!-- >>>>>>> a12b4b20841315abfc11e01a1e76456981763288 -->
              </div>
  
            </div>
          </div>
  
  
  
  
  
          <div class="table100-bottom stickyfooter">
            <table class="tableResize  table100-head edittbody  " data-vertable="ver6 " style="overflow: scroll; ">
  
              <thead class="" style="width: 100%; max-width: 100%;overflow: scroll">
  
                <tr class=" ">
  
                  <th> <b *ngIf="count != 0" class="marginTop ml-4"
                      style="color: #2d2d2d; font-size: 15px; margin-right: 0px; "> {{count}} Candidate selected</b></th>
                </tr>
              </thead>
            </table>
          </div>
  
        </div>
      </div>
  
  
      <div *ngIf="_data?.length == 0 && GetsendedData">
        <!-- <h3 class="text-danger ml-5" style="margin-left: 500px;">No Data Found</h3> -->
        <app-no-data-found></app-no-data-found>
  
      </div>
  
  
  
      <div class="container" *ngIf="!GetsendedData">
  
        <div style=" align-content: center;"> <img src="assets/loader/Botloader1.gif" style="  display: block;
      margin-left: auto;
      margin-right: auto;
      height: 500px;" />
        </div>
      </div>
  
  
    </div>
  </div>