
#iconbackground:hover .icones{
  -moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-ms--transform: rotate(360deg);
transform: rotate(360deg);
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
-ms-transition: all 0.2s;
transition: all 0.2s;
}
#iconbackground:hover{
  background-color: #FF9933;
  }
.ag-pinned-cols-viewport {
  float: left;
  position: absolute;
  //overflow: hidden;
 }
 .highlightText {
  background: yellow;
}

.toggleactive
{
  color: #a64eed;
}
.togglenotactive
{
  color: whitesmoke;
}
.toggle1active
{
  color: whitesmoke;

}
.toggle1notactive
{
  color: #a64eed;
}




ng-select.custom .ng-select-container {
  position: relative !important;
  top: 0;
  border-color: transparent !important;
  border-bottom-color: black !important;
  border-bottom-width: 0.0625rem !important;
  background-color: transparent !important;
  border-radius: 0px;
  }


  .card-body{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
  }

  .experianceDetails{
    margin-top: 30px;
  }

  .locationdetails{
    margin-top: 30px;
  }

  .example-chip-list {
    width: 100%;
  }

  :host ::ng-deep .mdc-text-field--filled {
    // height: 60px;
    border-radius: 6px;
 }
 
 :host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
   height: 20px;
 }

  .mat-mdc-option {
  // border-radius: 2px solid red;
  min-height: 30px !important;
  // color: red;
}

:host ::ng-deep .mat-mdc-select-placeholder {
  font-weight: 550;
  font-family: math;
}

:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  cursor: inherit;
  font-weight: 550;
  font-family: math;
}

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  // background-color: ;
  width: 250px;
}


:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-filled-text-field-container-color);
  width: 250px !important
}


:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  width: 100%;
  margin-right: 340px;
  margin-top: 16px;
  height: 46px;
  border-bottom: none;
}
:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
 background-color: white;
}