#iconbackground:hover .icones{
    -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
  }
  #iconbackground:hover{
    background-color: #FF9933;
    }
  .ag-pinned-cols-viewport {
    float: left;
    position: absolute;
    //overflow: hidden;
   }
   .highlightText {
    background: yellow;
  }
  
  .toggleactive
  {
    color: #a64eed;
  }
  .togglenotactive
  {
    color: whitesmoke;
  }
  .toggle1active
  {
    color: whitesmoke;
  
  }
  .toggle1notactive
  {
    color: #a64eed;
  }
  
  
  
  
  ng-select.custom .ng-select-container {
    position: relative !important;
    top: 0;
    border-color: transparent !important;
    border-bottom-color: black !important;
    border-bottom-width: 0.0625rem !important;
    background-color: transparent !important;
    border-radius: 0px;
    }
  