<div *ngFor="let item of customdata | keyvalue">
    <!-- Key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b>
     -->


</div>

<div class="container" style="border: 2 px solid #ebe3f8;  ">
    <div class="row mt-2" *ngFor="let  custom of customdata">
        <div class='col-6'>
            <div class="container" style="border-radius: 25px;">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Key</mat-label>
                    <input matInput autocomplete="off" id="customvalue" name="customvalue" [value]="custom.key" disabled="disabled">
                </mat-form-field>
            </div>
        </div>
        <div class='col-6'>

            <div class="container" style="border-radius: 25px;">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Slot Name</mat-label>
                    <input matInput autocomplete="off" id="customvalue" name="customvalue" [(ngModel)]="custom.value">
                </mat-form-field>
            </div>

        </div>



    </div>
    <button class="btn btn-sm" (click)="savecustomdata()">Save</button>

</div>