// mat-form-field {
//     width: 400px;
// }

mat-card-title {
    // text-align: center;
    display: flex;
    justify-content: space-between;

    .close-child:hover{
        color: red;
        cursor: pointer;
    }
}

// manoj @import url('../../../../../../assets/scss/core/main-panel.scss');
.spacer {
    height: 20px;
    /* Adjust the height to control the spacing between fields */
}


.main-content {
    width: 900px;

    .container-fluid {
        section {
            margin-top: 5rem;
        }
    }
}