<div class="main-content" style="position:relative;">
    <div class="container-fluid">
        <div class="recent-activity">
            <div class="recent-activity__wrapper">

                <mat-accordion class="example-headers-align" multi *ngFor="let activity of Activities">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <!-- {{activity.created_at}} -->

                                {{ activity.created_at | date:'MMM d, y, h:mm:ss a zzzz' }}
                            </mat-panel-title>



                            <mat-panel-title>
                                <b>IP:</b>
                                {{activity.ip_address}}
                            </mat-panel-title>
                            <mat-panel-title>
                            </mat-panel-title>
                            <mat-panel-description>
                                {{activity.attempt}}
                                <mat-icon *ngIf='activity.attempt == "Successful sign-in"'>check</mat-icon>
                                <mat-icon *ngIf='activity.attempt == "sign-in Failed"'>close </mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <!-- <mat-form-field appearance="fill">
                                <mat-label>First name</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Age</mat-label>
                                <input matInput autocomplete="off" type="number" min="1">
                            </mat-form-field>-->
                    </mat-expansion-panel>
                </mat-accordion>
            </div>


        </div>
    </div>
</div>