@import "~@fortawesome/fontawesome-free/css/all.css";
.right-sidebar {
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 230px; /* Adjust as needed */
    padding: 20px;
    /* position: fixed; */
    right: 0;
    /* top: ; */
    /* bottom: 0;  */
    /* margin-left: 760px; */
    margin-top: 0px;
  }
  
  .sidebar-title {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    color: #333;
    font-size: 1.2em;
  }
  
  .details-content {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
  }

  .Text-Input{
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #edeff0;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }
  textarea {
    border: none; /* Remove the border */
    outline: none; /* Remove the default focus outline */
    resize: none; /* Prevent resizing */
  }
  
  .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .detail-item .icon {
    font-size: 1.2em; 
    width: 30px; 
  }
  
  .detail-item .text {
    margin-left: 10px;
  }
  
  .detail-item .action {
    color: #2196F3; 
    cursor: pointer;
  }

  body {
    font-family: Arial, sans-serif;
  }
  .container {
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
  }
  .quick-note, .tags, .custom-attributes {
    margin-bottom: 20px;
  }
  .quick-note input, .tags input, .custom-attributes input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .icon-lock {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    opacity: 0.6;
  }
  .add-btn {
    display: block;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
  }

  .text[contenteditable="true"] {
    /* border: 1px solid #ccc; */
    /* padding: 3px; */
    width: 120px;
    cursor: text;
  }
  
  .text[contenteditable="true"]:hover {
    border: 1px solid #ccc;
    outline: none;
  }
  .copy-icon:hover{
    cursor: pointer;
  }
  .copy-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  .copy-icon:hover::after {
    content: 'Copy';
    position: absolute;
    bottom: 100%;  /* Just above the icon */
    left: 50%;     /* Center the tooltip */
    transform: translateX(-50%);
    background-color: rgb(99, 94, 94);
    color: white;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    width: auto;
    font-size: 12px;
    white-space: nowrap;
  }

/* :host ::ng-deep .detail-item[_ngcontent-ng-c3986214510] .text[_ngcontent-ng-c3986214510] {
    margin-left: 10px;
    border: none;
} */

:host ::ng-deep .detail-item .text{
  margin-left: 0px;
  border: none;
  color: #000000;
  width: 130px;
}

input.text::placeholder {
  color: #000000; 
  opacity: 1;
}