<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="calldiv" class="modal fade"
    data-bs-backdrop="static">
    <div class="modal-dialog" id="client">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Call</h6>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <mat-form-field class="w-100" *ngIf="USR.clientsdepartment == 'Client/Department'">
                            <mat-label>{{USR.clientsdepartment}}:</mat-label>
                            <div class="col-xs-10">
                                <mat-select id="clientsdepartment" [(ngModel)]="clientsdepartment"
                                    name="clientsdepartment">
                                    <mat-option (click)="getclientdepartment()" value="Client"
                                        *ngIf="USR.mp.view_client">Client</mat-option>
                                    <mat-option (click)="getclientdepartment()" value="Department"
                                        *ngIf="USR.mp.view_department">Department
                                    </mat-option>
                                </mat-select>
                            </div>
                        </mat-form-field>


                        <mat-form-field class="w-100" *ngIf="USR.clientsdepartment == 'Client' || clientsdropdown">
                            <mat-label for="client">Client:</mat-label>
                            <div class="col-xs-10">
                                <mat-select id="client" [(ngModel)]="call.department_id" name="client">
                                    <mat-option (click)="MR.GetJobAssignedbyclientdepartments('client',client.id)"
                                        value="{{client.id}}" *ngFor="let client of MR.departments">
                                        {{client.department_name}}</mat-option>
                                </mat-select>
                            </div>
                        </mat-form-field>

                        <mat-form-field class="w-100"
                            *ngIf="USR.clientsdepartment == 'Department' || departmentsdropdown">
                            <mat-label for="department">Department:</mat-label>
                            <div class="col-xs-10">
                                <mat-select id="department" [(ngModel)]="call.department_id" name="department">
                                    <mat-option (click)="MR.GetJobAssignedbyclientdepartments('department',dep.id)"
                                        value="{{dep.id}}" *ngFor="let dep of MR.departments">
                                        {{dep.department_name}}</mat-option>
                                </mat-select>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <mat-label for="Jobs" class="control-label col-xs-2">Jobs:</mat-label>
                            <div class="col-xs-10">
                                <mat-select [(ngModel)]="call.add_new_job_id" name="add_new_job_id">
                                    <mat-option [value]="x.id" (click)="checkcallport()"
                                        *ngFor="let  x of MR.assignedJob">
                                        {{x.job_title}}({{x.id}})
                                    </mat-option>
                                </mat-select>
                            </div>
                        </mat-form-field>
                    </div>


                    <div class="form-group" *ngIf="isSelectLocation">
                        <mat-form-field class="w-100">
                            <mat-label for="Jobs" class="control-label col-xs-2">Select Location:</mat-label>
                            <div class="col-xs-10">
                                <mat-select [(ngModel)]="call.job_location" name="add_new_job_location">
                                    <mat-option [value]="joblocation" *ngFor="let  joblocation of location">
                                        {{joblocation}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </mat-form-field>
                    </div>


                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <mat-label for="Jobs" class="control-label col-xs-2">Owner</mat-label>
                            <div class="col-xs-10">
                                <mat-select [(ngModel)]="call.manager">
                                    <mat-option [value]="USR.profile.id">
                                        Self
                                    </mat-option>
                                    <mat-option [value]="x.id" *ngFor="let  x of USR.managers">
                                        {{x.name}}
                                    </mat-option>
                                </mat-select>

                            </div>
                        </mat-form-field>
                    </div>

                    <div class="form-group" *ngIf="db.mp.multilingual">
                        <mat-form-field class="w-100">
                            <mat-label for="Jobs" class="control-label col-xs-2">language</mat-label>
                            <div class="col-xs-10">
                                <mat-select [(ngModel)]="call.language">
                                    <mat-option [value]="x.code" *ngFor="let  x of USR.bot_language_code">
                                        {{x.language}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </mat-form-field>
                    </div>

                    <div class="form-group">


                        <div id="directlineupdata" style="display:none;">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="col-md-12">Interview Date</label>
                                    <div class="col-md-12">

                                    </div>


                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-12">Optional Date</label>
                                    <div class="col-md-12">

                                    </div>

                                </div>

                            </div>
                            <div class="row">

                                <div class="form-group col-md-6">
                                    <label class="col-md-12">Interview Start Time</label>
                                    <div class="col-md-12">
                                    </div>


                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-md-12">Interview End Time</label>
                                    <div class="col-md-12">


                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Interview Location</label>
                                    <div class="col-md-12">

                                        <mat-form-field>
                                            <input matInput autocomplete="off" [(ngModel)]="call.interview_loc"
                                                name="location">

                                        </mat-form-field>

                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-12 ">
                                <button type="submit" class="btn btn-primary btn-block" data-bs-dismiss="modal"
                                    tar="#client" (click)="sendcalltocandidates()">Place in Queue</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>