.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #9c8181;
  }
  .table-coloum {
   margin: 250px;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
    }
    .mat-row,
    .mat-header-row {
      display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
  }
  
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 10px;
  }
  
  .pagination>li {
    display: inline;
    margin-left: 10px;
  }
  
  // .mat-menu-panel.notifications-dropdown {
  //   max-width: none;
  //   width: 100vw;
  //   margin-left: -8px;
  //   margin-top: 24px;
  //   overflow: visible;
  // }
  
  
  
  .pagination>li>a,
  .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    // line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
  
  }
  
  .pagination>li:first-child>a,
  .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .pagination>li:last-child>a,
  .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .pagination>li>a:hover,
  .pagination>li>span:hover,
  .pagination>li>a:focus,
  .pagination>li>span:focus {
    // z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
  }
  
  .pagination>.active>a,
  .pagination>.active>span,
  .pagination>.active>a:hover,
  .pagination>.active>span:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span:focus {
    // z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
  }
  
  .pagination>.disabled>span,
  .pagination>.disabled>span:hover,
  .pagination>.disabled>span:focus,
  .pagination>.disabled>a,
  .pagination>.disabled>a:hover,
  .pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
  }
  
  .pagination-lg>li>a,
  .pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
  }
  
  .pagination-lg>li:first-child>a,
  .pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  
  .pagination-lg>li:last-child>a,
  .pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .pagination-sm>li>a,
  .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
  }
  
  .pagination-sm>li:first-child>a,
  .pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .pagination-sm>li:last-child>a,
  .pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Table ]*/
  .table100 {
    // background-color: white;
  }
  
  table {
    width: 100%;
  }
  
   td {
    font-weight: unset;
    padding-right: 10px;
  }
  
  .column1 {
    // width: 13%;
    padding-left: 30px;
  }
  
  // .column2 {
  //   width: 13%;
  // }
  
  // .column3 {
  //   width: 13%;
  // }
  // .column5 {
  //   width: 23%;
  // }
  
  // .column4 {
  //   width: 10%;
  // }
  
  
  
  // .table100-head th {
  //   padding-top: 18px;
  //   padding-bottom: 18px;
  // }
  
  // .table100-body td {
  //   padding-top: 16px;
  //   padding-bottom: 16px;
  // }
  
  
  /*==================================================================
  [ Fix header ]*/
  .table100 {
    position: relative;
    // padding-top: 60px;
    width: 100%;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  
  }
  .space
  {
    margin-left: 0px;
  }
  .table100-head {
    position: relative;
    width: 100%;
    margin-top: -50px;
    height: auto;
    top: 0;
    left: 0;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  }
  
  .stickyfooter
  {
    border-radius: 16px;
    position: sticky;
    bottom: 0;
    // width: 100%;
    // border-top: 2px solid rgb(7, 1, 1);
  }
  .stickyheader
  {
    border-radius: 16px;
    position: sticky;
    top: 0;
    // z-index: 2;
    // margin-top: 20px;
    // padding-top: 34px;
    // width: 100%;
    // border-top: 2px solid rgb(7, 1, 1);
  }
  .table100-body {
    // max-height: 710px;
    overflow: auto;
  
  }
  // .table100.ver2 .table100-head {
  //   background: #7918f2;
  //   border-radius: 16px;
  //   background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   background: linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   // margin-bottom: 5px;
  //   // margin-top: 30px;
  // }
  
  // .table100.ver2 .table100-bottom {
  //   background: #7918f2;
  //   border-radius: 16px;
  //   background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
  //   background: linear-gradient(-68deg, #ac32e4 , #4801ff);
  // }
  
  // .table100.ver1 th {
  //   font-family: Lato-Bold;
  //   font-size: 12px;
  //   background-color: #fa4251;
  //   line-height: 1.4;
  
  //   background-color: transparent;
  // }
  
  
  .color
  {
    background-color:  #e9d3fb;
    color:#a64eed;
  }
  .color1
  {
    // background-color: #dcd1e4;
    // background-color: #fff;
  
  }
  .table100.ver2 th {
    // font-family: Lato-Bold;\
    font-family: 'Lato', sans-serif;
  font-size: large;
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  // color: #2d2d2d;
  font-weight: bolder;
    font-size: 12px;
    // color: rgb(242, 53, 53);
    // line-height: 0.5;
    line-height: 1.5;
    // margin-top: 10px;
    // background-color: #0f144d;
    // background-color: #a64eed;
  height: 30px;
  
    // background-color: #f0f1fd;
  }
  .table100.ver6 {
    border-radius: 16px;
    // overflow: hidden;
    background: #f8f9fe;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    // background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
    // background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
    // background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
    // background: linear-gradient(-68deg, #ac32e4 , #4801ff);
    width: 100%;
    max-width: 400%;
    overflow-x: auto;
    margin-bottom: 0%;
    // margin-top: 50px;
    }
  .table100.ver2 td {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    /*color: #808080;*/
    line-height: 3.0;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  }
  
  .table100.ver2 .table100-body tr:nth-child(even) {
    background: white;
  // border-radius: 16px;
  // background: -webkit-linear-gradient(-68deg, #ac32e4 , #4801ff);
  // background: -o-linear-gradient(-68deg, #ac32e4 , #4801ff);
  // background: -moz-linear-gradient(-68deg, #ac32e4 , #4801ff);
  // background: linear-gradient(-68deg, #ac32e4 , #4801ff);
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  }
  .editthead
  {
    background: #e9d3fb;
  
  // margin-bottom: 5px;
  margin-top: 30px;
  // border-top:  solid rgb(240, 237, 237);
  }
  
  // .rating-list {
  //   li {
  //   font-size: 70px;
  //       float: right;
  //       color: #ddd;
  //       padding: 10px 5px;
  //       &:hover {
  //           color: #ffd700;
  //           ~ {
  //               li {
  //                   color: #ffd700;
  //               }
  //           }
  //       }
  //   }
  //   li.selected {
  //       color: #ffd700;
  //   }
  //   display: inline-block;
  //   list-style: none;
  
  // }
  .rating-list {
    li {
    font-size: 20px;
        float: right;
        color: #adadad;
  
        // padding: 5px 5px;
        &:hover {
            color: #a64eed;
            ~ {
                li {
                    color: #a64eed;
  
                }
            }
        }
    }
    li.selected {
        color: #a64eed;
    }
    display: inline-block;
    list-style: none;
    }
  
    .joy1{
      // display: inline-block;
      // position:absolute;
      // top:20%;
      // left:80%;
      -ms-transform:translate(-0%,-0%);
      -webkit-transform:translate(-0%,-0%);
      transform:translate(-0%,-0%);
    }
  
    /* Icons */
  .text
  {
    // color: #222222;
    // font-size: larger;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    margin-bottom: 2px;
    text-align: center;
  }
    .joy{
      color:#fff;
      background: #a64eed;
      border-radius:10px;
      text-align:center;
      text-decoration:none;
      font-family:fontawesome;
      position: relative;
      display: inline-block;
      width:100px;
      height:45px;
      text-align: center;
      padding-top:12px;
      margin:0 2px;
      -o-transition:all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
       -webkit-font-smoothing: antialiased;
       margin-top: 25px;
    }
  
    .joy:hover {
      background: #ef92a3;
    }
  
    /* pop-up text */
  
    .joy span {
      // color:#666;
      position:absolute;
      font-family:sans-serif;
      width: 160px;
      bottom:0;
      left:-50px;
      right:-25px;
      text-align: center;
      // padding:5px 7px;
      // z-index:-1;
      font-size:14px;
      border-radius:2px;
      background:#fff;
      visibility:hidden;
      opacity:0;
      -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    /* pop-up text arrow */
  
    .joy span:before {
      content:'';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      position:absolute;
      bottom:-5px;
      left:40px;
      text-align: center;
    }
  
    /* text pops up when icon is in hover state */
  
    .joy:hover span {
      bottom:50px;
      visibility:visible;
      opacity:1;
    }
  
    /* font awesome icons */
  
  
    /* CSS */
    .sti_container {
      position: relative;
    }
    *, *:before, *:after {
      // margin: 0;
      // padding: 0;
      // box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      // appearance: none;
  }
  
  body{
    // background: #222222;
    font-family: 'Open Sans Hebrew', Arial, sans-serif;
      text-align: center;
  
  }
  
  .hoverme{
    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
    background: #f6f6f6;
    border-radius: 25px;
    outline: 0;
    cursor: pointer;
    top: 40vh;
    transition: all .3s ease;
  }
  
  .text {
    position: relative;
    // top: 35%;
    //  transform: translateY(-50%);
  }
  
  .hoverme{
    &:hover{
      background: rgba(#f6f6f6, .3);
      & > .pop{
        opacity: 1;
        width: 200px;
        height: 200px;
      }
    }
  }
  table td,
  table th{
  padding: 0; /* 'cellpadding' equivalent */
  }
  .pop {
      opacity: 0;
      width: 0;
      height: 0;
      background: #ffffff;
      border-radius: 100%;
      // z-index: -1;
      margin: auto;
    transition: all .3s ease;
    & > p {
      // color: #353535;
      font-size: 20px;
    }
  }
  
    .btn {
      position: relative;
      display: inline-block;
      // padding: 15px;
      // background-color: blue;
      background-color: #76489c;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      color: #fff;
      border-radius: 30px;
      -webkit-transition: width 0.2s;
      transition: width 0.2s;
    }
  
    .btn .btn-text {
      max-width: 0;
      display: inline-block;
      -webkit-transition: color 0.5s 0.2s, max-width 1s;
      transition: color 0.5s 0.2s, max-width 1s;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      color: #76489c;
    }
  
    .btn:hover .btn-text {
      max-width: 300px;
      color: white;
    }
    .content_img {
      margin: 1em 0;
      // margin-top: 20px;
      .img-text {
        position: absolute;
        // top: 2px;
        // right: 1px;
        // top:0;
        // background: rgba(0, 0, 0, 0.65);
        // margin-bottom: 20px;
        // padding: 8px 25px;
        border-top-left-radius: .5em;
        border-bottom-left-radius: .5em;
        color: white;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0s, opacity 0.5s linear;
        transition: visibility 0s, opacity 0.5s linear;
  
      }
      &:hover {
        .img-text {
          // padding: 50px 40px;
          // padding: 50px;
          // padding-bottom: 50px;
  
          visibility: visible;
          opacity: 1;
          max-width: 100%;
          height: 100px;
        }
      }
    }
    .button-holder:hover {
      background-color: #76489c;
      color: #fff;
      border: 1px solid #888;
    }
  
    @media (min-width: 768px) {
      .button-81 {
        font-size: 1.125rem;
        padding: 1rem 2rem;
      }
    }
  .button-holder
  {
  border: none;
  text-decoration: none #e9d3fb solid;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background: #a64eed;
  border-radius: 16px;
  transition: all ease-in-out 0.2s;
  font-family: 'TitilliumText22LRegular', Arial, sans-serif;
  font-weight:bold;
  font-size: 1.1em;
  border-radius: 12px;
  margin-top:  10px;
  margin-bottom: 10px;
  width:270px;
  // width: fit-content;
  height: 45px;
  // HEIGHT:45px
  
  }
  .fonts{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  }
  .heading{
    font-weight: bold;
  }
  .button-13 {
    // background-color: #fff;
    background-color: #76489c;
    border: 1px solid #d5d9d9;
    color:whitesmoke;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    // color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 12px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 80%;
    margin: bottom 5px;
  }
  
  .button-13:hover {
    background-color: #a64eed;
  }
  
  .button-13:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }