<div class="modal fade" role="dialog" id="commentstatus">


    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
  
          <h6 class="modal-title text-danger ">Comment/Status </h6>
          <button aria-hidden="true" data-bs-dismiss="modal"
            class="close btn btn-block d-flex justify-content-end" type="button">×</button>
        </div>
  
        <div class="modal-body">
          <div class="col-md-12">
            <div class="form-horizontal" role="form" name="userForm">
              <div class="form-group" *ngIf="showowner">
                <label for="inputEmail" class="">Owner</label>
                <div class="">
                  <ng-select n="Owner" [(ngModel)]="commentstatus.recruiterid">
                    <ng-option [value]="db.profile.id">Self</ng-option>
                    <ng-option [value]="manager.id" *ngFor="let manager of managers">
                      {{manager.name}}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="" select="">Status:</label>
                <div class=" py-0" style="width:100%;">
                  <ng-select id="purpose" ngDefaultControl (change)="purposechange()" [(ngModel)]="commentstatus.status"
                    name="client_detail_id">
                    <ng-option selected="" value="{{currentstatusid}}">{{currentstatusname}}</ng-option>
                    <ng-option value="{{x.id}}" [attr.isinterview]="x.isinterview " *ngFor="let x of statuses" [attr.isbotcall]="x.isbotcall">
                      {{x.display_name}}
                    </ng-option>
  
                  </ng-select>
                  <label *ngIf="db.mp.btn_show_all_status"></label>
  
  
                </div>
                <div class="col-12">
  
                  <mat-checkbox ngDefaultControl (change)="comment(current_row)" [(ngModel)]="allstatus">Override Status</mat-checkbox>
                </div>
                <div class="col-12">
  
  
                  <mat-checkbox ngDefaultControl [(ngModel)]="commentstatus.noemailset" (change)="no_email_sms($event)">No email/sms to candidate</mat-checkbox>
  
                </div>
  
                <div *ngIf="!show_add_attachments" class="col-12" style="display: flex; justify-content: space-between; gap:5rem">
                  <mat-checkbox ngDefaultControl (change)="onAttachmentChange($event)">Add Attachments</mat-checkbox>
                  <input *ngIf="show_attachments" class="show-attachments" type="file" (change)="uploadFile($event)" />
                </div>
                <!-- <div class="col-12">
  
                  <mat-label>is_client</mat-label>
                  <select  [(ngModel)]="commentstatus.is_client">
                    <option >any</option>
                    <option >client</option>
                    <option >department</option>
  
                  </select> -->
                  <!-- <mat-checkbox ngDefaultControl [(ngModel)]="commentstatus.is_client">is_client</mat-checkbox> -->
  <!--
                </div>
              </div> -->
  
  
              <div id="business" style="display:none;">
                <div class="form-group">
                  <label class="col-md-12">Date</label>
                  <div class="col-md-12">
  
                    <!-- <div class="input-group date" id="datetimepicker1">
                      <input type="text" autocomplete="off"  [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="commentstatus.date" class="form-control">
                      <owl-date-time #dt1></owl-date-time>
                    </div> -->
                    <!--                                                <md-datepicker ng-model="commentstatus.date" md-placeholder="Enter date"></md-datepicker>-->
  
                  </div>
  
                </div>
  
                <div class="form-group">
                  <mat-form-field class="col-md-12">
                    <input type="text" autocomplete="off"  matInput class="form-control" [(ngModel)]="commentstatus.location" placeholder="Location">
  
                  </mat-form-field>
  
                </div>
  
                <div class="form-group">
                  <mat-form-field  class="col-md-12">
  
                    <input type="text" autocomplete="off"  matInput class="form-control" [(ngModel)]="commentstatus.contactperson"
                      placeholder="Contact Person">
  
  
  
                  </mat-form-field>
  
                </div>
                <div class="form-group">
                  <mat-form-field  class="col-md-12">
  
                    <input type="text" autocomplete="off"  matInput class="form-control" [(ngModel)]="commentstatus.Interviewer"
                      placeholder="Interviewer">
  
  
  
                  </mat-form-field>
  
                </div>
                <div class="form-group">
                  <mat-form-field  class="col-md-12">
  
                    <input type="text" autocomplete="off"  matInput class="form-control" [(ngModel)]="commentstatus.modeofinterview"
                      placeholder="Mode of Interview" >
  
                  </mat-form-field>
  
                </div>
  
                <label class="col-md-12">Interview Question</label>
                <div class="col-md-12">
  
                  <textarea class="form-control" [(ngModel)]="commentstatus.interviewquestion" style="width: 100%"
                    contenteditable=""></textarea>
  
                </div>
  
              </div>
  <!-- <div class="" id="isbot" style="display:none;">
    hello
  </div> -->
  
  
              <div class="form-group">
                <mat-form-field class="col-md-12">
                  <textarea matInput class="form-control" [(ngModel)]="commentstatus.comment" placeholder="Comment"
                    required=""></textarea>
                </mat-form-field>
              </div>
              <div class="col-12">
                <button type="submit" class="btn  btn-raised btn-block btn-primary"
                  (click)="updatestatuscommentmyjob(1)">Update</button>
              </div>
            </div>
  
  
          </div>
  
          <div class="clearfix"></div>
        </div>
  
  
      </div>
    </div>
  
  </div>
  