.SendMSg {
    width   : 50%;
    position: fixed;
    bottom  : 0;
    right   : 0;
    margin  : 0;
}




.wrapper {
  line-height: calc(100vh - 20px);
  height: calc(100vh - 20px);
  text-align: center;

}
.inner {
  background: green;
  color: white;
  padding: 12px;
  display: inline;
}
